-# only shown in the embedded form
.pull-right
  %span.close{ style: "display: none;" } X
= simple_form_for @business_location, remote: true do |f|
  = f.input :name, input_html: { class: "input-block-level" }
  = f.input :address, input_html: { class: "input-block-level" },
    label: "Address (street, city, state, zip)"
  = f.input :venue_url, input_html: { class: "input-block-level" },
    label: "Venue URL"
  .row-fluid
    .span6
      = f.input :email, input_html: { class: "input-block-level" }
      = f.input :phone, input_html: { data: { mask: "(999) 999-9999" }, class: "input-block-level" }
    .span6
      %span.pull-right.btn.btn-primary#locate_on_map_button Locate on Map
      - if @business_location.address.present?
        %iframe#confirm_location_map{ data: { base_src_url: "https://www.google.com/maps/embed/v1/place?key=#{Figaro.env.gmaps_api_key}&q=" },
          src: "https://www.google.com/maps/embed/v1/place?key=#{Figaro.env.gmaps_api_key}&q=#{CGI::escape @business_location.address}" }
      - else
        %iframe#confirm_location_map{ data: { base_src_url: "https://www.google.com/maps/embed/v1/place?key=#{Figaro.env.gmaps_api_key}&q=" } }
  = f.input :hours, input_html: { class: "input-block-level" }
  = f.association :publication, as: :hidden
  - if @business_location.id.present?
    - submit_url = business_location_path(@business_location.id)
    - submit_method = "PUT"
  - else
    - submit_url = business_locations_path
    - submit_method = "POST"
  = f.submit nil, class: "btn btn-success", data: { submit_url: submit_url, submit_method: submit_method }
