- promotion ||= @promotion
- publication ||= promotion.publication unless promotion.nil?
- ajax_submit ||= false
%p Promotion for: #{link_to publication.name, edit_publication_path(publication)}
= simple_form_for (promotion.id ? promotion : [publication, promotion]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :active
    = image_tag promotion.banner.url if promotion.banner?
    = f.input :banner
    = f.label :content
    %label= promotion.content.try(:title)
    = f.input :content_id, as: :hidden
    = f.input :description, input_html: { class: "input-block-level", rows: 5 }

  .form-actions
    - if ajax_submit
      %span.btn.btn-primary.create-new-promotion{ data: { submit_url: publication_promotions_path(publication) } } Create Promotion
    - else
      = f.button :submit, class: "btn-primary btn"
    = link_to "Cancel", 'javascript:history.back()', class: "btn"
