%tr{ class: "promotion-#{promotion.id}" }
  %td= promotion.id
  - if promotion.content.nil?
    %td= "None"
  - else
    %td= link_to promotion.content.title, edit_content_path(promotion.content)
  %td= promotion.promotable_type
  %td= promotion.description
  - if promotion.promotable_type == 'PromotionBanner'
    %td= promotion.promotable.boost
  %td= promotion.paid
  %td= promotion.active
  %td
    = link_to "Edit Promotion", edit_promotion_path(promotion) 
    = link_to "X", promotion_path(promotion), method: :delete, class: "btn btn-danger", confirm: "Are you sure?"
