%tr{ class: "promotion-#{promotion.id}" }
  %td= promotion.id
  %td= promotion.description
  %td= promotion.promotable.try(:campaign_start)
  %td= promotion.promotable.try(:campaign_end)
  %td= promotion.promotable.try(:boost)
  %td= promotion.paid
  %td= link_to "Edit Promotion", edit_promotion_path(promotion), class: "btn btn-warning"
