<% content_for(:preheader) do %>
  Open this email to confirm your post to <%=@listserv.name%>
<% end %>

<% content_for(:header) do %>
<table style="margin-top: 20px; margin-bottom: 20px;border-spacing: 0;border-collapse: collapse;vertical-align: top;" cellpadding="0" cellspacing="0" width="100%">
  <tbody>
    <tr style="vertical-align: top;background-color: #69C2F8;">
      <td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top; padding: 10px 10px 0 10px;">
        <p style="line-height: 31px; font-size: 26px; color: #fff;;margin: 0;text-align: center">
          <strong>
            <%= @listserv.name.upcase %>
          </strong>
        </p>
      </td>
    </tr>
    <tr style="vertical-align: top;background-color: #69C2F8;">
      <td style="padding: 0 10px 10px 10px;">
        <div style="font-size: 16px; line-height: 19px; color: #fff;">
          a Vital Communities service delivered by dailyUV
        </div>
      </td>
    </tr>
  </tbody>
</table>

  <table style="border-spacing: 0;border-collapse: collapse;vertical-align: top; margin-bottom: -35px;" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
      <tr style="vertical-align: top">
        <td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 5px;padding-right: 10px;padding-bottom: 0px;padding-left: 10px">
          <p style="margin: 0;font-size: 25px;line-height: 25px;text-align: center">
          <strong>Your post isn't published yet.</strong><br>
          </p>
          <p style="font-size: 20px;line-height: 25px;text-align: center; padding-top: 10px;">
          <strong>To publish your post, confirm by <em><u>choosing</u></em> to...</strong>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>

<table style="border-spacing: 0;border-collapse: collapse;vertical-align: top" width="100%" border="0" cellspacing="0" cellpadding="0" >
  <tbody>
    <tr style="vertical-align: top">
      <td class="button-container" width="50%" "padding: 0px 10px;">

        <table style="border-spacing: 0;border-collapse: collapse;vertical-align: top" width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
          <tbody>
            <tr style="vertical-align: top">
              <td class="button" style="border-collapse: collapse !important;vertical-align: top" align="center" valign="middle">
                  <div
                    style="display: inline-block;
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    width: 100%;
                    border-top: 0px solid transparent;
                    border-right: 0px solid transparent;
                    border-bottom: 0px solid transparent;
                    border-left: 0px solid transparent;"
                    align="center">

                    <table style="border-spacing: 0;border-collapse: collapse;vertical-align: top;height: 50" width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr style="vertical-align: top">
                          <td
                            style="border-collapse: collapse !important;
                            vertical-align: top;
                            color: #4c57ff;
                            padding-top: 5px;
                            padding-right: 0px;
                            padding-bottom: 5px;
                            padding-left: 0px;
                            text-align: center;
                            border: 1px solid #4c57ff;
                            height: 170px;
                            background-color: white;
                            padding: 10px;"
                            valign="middle">
                              <span style="font-size:16px;line-height:32px;">
                                <%=link_to "http://#{ENV['DEFAULT_CONSUMER_HOST']}/lists/posts/#{@post.key}", style: "color: #4c57ff; font-size: 16px; line-height: 32px;display: inline-block;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;" do %>
                                  <strong>SPRUCE IT UP&nbsp;&nbsp;&nbsp;&nbsp;&gt;</strong>
                                <% end %>
                              </span>
                              <span style="font-size:20px;line-height:20px;">
                                <p><em>Add photos and reach a wider audience!</em></p>
                              </span>
                              <span style="font-size:12px;line-height:5px;">
                                <p><em>No idea what this means?<em></p>
                                <p>Check out <a href="http://<%=ENV['DEFAULT_CONSUMER_HOST'] %>" target="_blank"><u>examples.</u></p>
                              </span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td width="50%" style='padding: 0px 10px;'>
        <table style="border-spacing: 0;border-collapse: collapse;vertical-align: top" cellpadding="0" cellspacing="0" width="100%">
          <tbody>
            <tr style="vertical-align: top">
              <td class="button" style="border-collapse: collapse !important;vertical-align: top" align="center" valign="middle">
                  <div
                    style="display: inline-block;
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    width: 100%;
                    border-top: 0px solid transparent;
                    border-right: 0px solid transparent;
                    border-bottom: 0px solid transparent;
                    border-left: 0px solid transparent;"
                    align="center">

                    <table style="border-spacing: 0;border-collapse: collapse;vertical-align: top;height: 50" width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr style="vertical-align: top">
                          <td
                            style="border-collapse: collapse !important;
                            vertical-align: top;
                            color: #4c57ff;
                            padding-top: 5px;
                            padding-right: 0px;
                            padding-bottom: 5px;
                            text-align: center;
                            height: 170px;
                            padding: 10px;
                            background-color: white;
                            border: 1px solid #4c57ff;"
                            valign="middle">
                              <span style="font-size:16px;line-height:32px;">
                                <%=link_to "http://#{ENV['DEFAULT_CONSUMER_HOST']}/posts/confirm_post/#{@post.key}", style: "color: #4c57ff; font-size: 16px; line-height: 32px;display: inline-block;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;" do %>
                                  <strong><u><em>OR</em></u>&nbsp;&nbsp;&nbsp;SEND AS IS&nbsp;&nbsp;&nbsp;></strong>

                                <% end %>
                              </span>
                              <span style="font-size:20px;line-height:20px;">
                                <p><em>Send your post to the <%= @listserv.name %> unaltered.</em></p>
                              </span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>


<table style="border-spacing: 0;border-collapse: collapse;vertical-align: top" cellpadding="0" cellspacing="0" width="100%">
  <tbody>
    <tr style="vertical-align: top">
      <td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-right: 10px;padding-bottom: 10px;padding-left: 10px">
        <p style="font-size: 24px;line-height: 25px;text-align: center">
        Both choices are free and will subscribe you to the <%= @listserv.name %> (listserv) if you aren't already.
        </p>
      </td>
    </tr>
  </tbody>
</table>

