<table style="border-spacing: 0;border-collapse: collapse;vertical-align: top" cellpadding="0" cellspacing="0" width="100%">
  <tbody>
    <tr style="vertical-align: top">
      <td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-right: 10px;padding-bottom: 0px;padding-left: 10px">
        <p style="color:#555555;font-size: 26px; line-height: 31px;margin: 0;text-align: center">
          <strong>
            Your post is now LIVE.
          </strong>
        </p>
      </td>
    </tr>
  </tbody>
</table>

<table style="border-spacing: 0;border-collapse: collapse;vertical-align: top" cellpadding="0" cellspacing="0" width="100%">
  <tbody>
    <tr style="vertical-align: top">
      <td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 20px;padding-right: 50px;padding-bottom: 20px;padding-left: 50px">
        <p style="color: rgb(51, 51, 51);margin: 0;font-size: 14px;line-height: 16px;text-align: left">
            ✓ Posted to the next <%= @post.listserv.name %> digest.
        </p>
        <% if @content %>
        <p style="color: rgb(51, 51, 51);margin: 0;font-size: 14px;line-height: 16px;text-align: left">
            ✓ Posted to dailyUV.
        </p>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<% if @content %>
<table style="border-spacing: 0;border-collapse: collapse;vertical-align: top" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr style="vertical-align: top">
      <td class="button-container" style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 15px;padding-right: 10px;padding-bottom: 30px;padding-left: 10px" align="center">
        <table style="border-spacing: 0;border-collapse: collapse;vertical-align: top" width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
          <tbody>
            <tr style="vertical-align: top">
              <td class="button" style="word-break: break-word;border-collapse: collapse !important;vertical-align: top" width="100%" align="center" valign="middle">
                  <div
                    style="display: inline-block;
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    max-width: 60%;
                    width: 100%;
                    border-top: 0px solid transparent;
                    border-right: 0px solid transparent;
                    border-bottom: 0px solid transparent;
                    border-left: 0px solid transparent;"
                    align="center">

                    <table style="border-spacing: 0;border-collapse: collapse;vertical-align: top;height: 50" width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr style="vertical-align: top">
                          <td
                            style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;border-radius: 5px;                   -webkit-border-radius: 5px;                   -moz-border-radius: 5px;                  color: #ffffff;                  background-color: #08AE66;                  padding-top: 5px;                   padding-right: 0px;                  padding-bottom: 5px;                  padding-left: 0px;                  text-align: center"
                            valign="middle">
                            <!--<![endif]-->
                            <a style="display: inline-block;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;background-color: #08AE66;color: #ffffff" href="<%= "http://#{ENV['DEFAULT_CONSUMER_HOST']}#{ux2_content_path(@content)}"%>" target="_blank">
                              <span style="color: #ffffff; font-size:20px;line-height:40px;">
                                    View Your Post
                              </span>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<% end %>
<table style="border-spacing: 0;border-collapse: collapse;vertical-align: top" cellpadding="0" cellspacing="0" width="100%">
  <tbody>
    <tr style="vertical-align: top">
      <td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 5px;padding-right: 10px;padding-left: 10px">
        <p style="color:#555555;margin: 0;font-size: 14px;line-height: 16px;text-align: left">
          <span style="font-size: 16px; line-height: 19px;">
            In the meantime...
          </span>
        </p>
      </td>
    </tr>
  </tbody>
</table>
<table style="border-spacing: 0;border-collapse: collapse;vertical-align: top" cellpadding="0" cellspacing="0" width="100%">
  <tbody>
    <tr style="vertical-align: top">
      <td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 15px;padding-right: 20px;padding-bottom: 10px;padding-left: 20px">

        <div style="color:#555555;line-height:120%;">
          <p style="margin: 0;font-size: 18px;line-height: 21px;text-align: left">
            <span style="font-size: 18px;">
              <strong>
                <span style="font-size: 18px;">
                  <a style="color: #555555;text-decoration: underline" href="http://<%=ENV['DEFAULT_CONSUMER_HOST']%>/dashboard" target="_blank">MANAGE.</a></span>
              </strong>
            </span>
          </p>
        </div>
        <div style='text-align: left;'>
          <p style="margin: 0;font-size: 14px;line-height: 16px; padding-left: 40px;">
            <span style="color: rgb(51, 51, 51); font-size: 14px; line-height: 16px;">
              Make changes to your acccount anytime through your dashboard.
            </span>
          </p>
        </div>
      </td>
    </tr>
    <tr style="vertical-align: top">
      <td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 15px;padding-right: 20px;padding-bottom: 10px;padding-left: 20px">

        <div style="color:#555555;line-height:120%;">
          <p style="margin: 0;font-size: 18px;line-height: 21px;text-align: left">
            <span style="font-size: 18px;">
              <strong>
                <span style="font-size: 18px;">
                  <a style="color: #555555;text-decoration: underline" href="<%= ENV['LISTSERV_MARKETING_URL'] %>" target="_blank">
                    HOW TO POST.
                  </a>
                </span>
              </strong>
            </span>
          </p>
        </div>
        <div style='text-align: left;'>
          <p style="margin: 0;font-size: 14px;line-height: 16px; padding-left: 40px;">
            <span style="color: rgb(51, 51, 51); font-size: 14px; line-height: 16px;">
             Sell Stuff, comment, share, smile 
            </span>
          </p>
        </div>
      </td>
    </tr>
    <tr style="vertical-align: top">
      <td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 15px;padding-right: 20px;padding-bottom: 10px;padding-left: 20px">

        <div style="color:#555555;line-height:120%;">
          <p style="margin: 0;font-size: 18px;line-height: 21px;text-align: left">
            <span style="font-size: 18px;">
              <strong>
                <span style="font-size: 18px;">
                  <a style="color: #555555;text-decoration: underline" href="http://<%=ENV['DEFAULT_CONSUMER_HOST']%>" target="_blank">
                    BROWSE.
                  </a>
                </span>
              </strong>
            </span>
          </p>
        </div>
        <div style='text-align: left;'>
          <p style="margin: 0;font-size: 14px;line-height: 16px; padding-left: 40px;">
            <span style="color: rgb(51, 51, 51); font-size: 14px; line-height: 16px;">
              Look at other people's stuff, comments, shares, news.
            </span>
          </p>
        </div>
      </td>
    </tr>
    <tr style="vertical-align: top">
      <td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 15px;padding-right: 20px;padding-bottom: 10px;padding-left: 20px">

        <div style="color:#555555;line-height:120%;">
          <p style="margin: 0;font-size: 18px;line-height: 21px;text-align: left">
            <span style="font-size: 18px;">
              <strong>
                <span style="font-size: 18px;">
                  <a style="color: #555555;text-decoration: underline" href="http://<%=ENV['DEFAULT_CONSUMER_HOST']%>" target="_blank">
                    ENJOY.
                  </a>
                </span>
              </strong>
            </span>
          </p>
        </div>
        <div style='text-align: left;'>
          <p style="margin: 0;font-size: 14px;line-height: 16px; padding-left: 40px;">
            <span style="color: rgb(51, 51, 51); font-size: 14px; line-height: 16px;">
              Your community and neighbors on dailyUV.
            </span>
          </p>
        </div>
      </td>
    </tr>
  </tbody>
</table>

