
<table style="border-spacing: 0;border-collapse: collapse;vertical-align: top" cellpadding="0" cellspacing="0" width="100%">
  <tbody>
    <tr style="vertical-align: top">
      <td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-right: 10px;padding-bottom: 0px;padding-left: 10px">
        <p style="color:#555555;font-size: 26px; line-height: 31px;margin: 0;text-align: center">
          <strong>
            You are subscribed!
          </strong>
        </p>
      </td>
    </tr>
  </tbody>
</table>
<table style="border-spacing: 0;border-collapse: collapse;vertical-align: top" cellpadding="0" cellspacing="0" width="100%">
  <tbody>
    <tr style="vertical-align: top">
      <td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 5px;padding-right: 10px;padding-bottom: 15px;padding-left: 10px">
        <div style="color:#555555;line-height:120%;;">
          <div style="font-size:12px;line-height:14px;color:#555555;">
            <p style="margin: 0;font-size: 14px;line-height: 16px;text-align: center">
              <span style="font-size: 16px; line-height: 19px;">
                The <%= @listserv.name %> Digest will arrive <br>around <%= @digest_send_time %>. Whoop!
              </span><br>
            </p>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<table style="border-spacing: 0;border-collapse: collapse;vertical-align: top" cellpadding="0" cellspacing="0" width="100%">
  <tbody>
    <tr style="vertical-align: top">
      <td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 5px;padding-right: 10px;padding-left: 10px">
        <p style="color:#555555;margin: 0;font-size: 14px;line-height: 16px;text-align: left">
          <span style="font-size: 16px; line-height: 19px;">
            In the meantime...
          </span>
        </p>
      </td>
    </tr>
  </tbody>
</table>
<table style="border-spacing: 0;border-collapse: collapse;vertical-align: top" cellpadding="0" cellspacing="0" width="100%">
  <tbody>
    <tr style="vertical-align: top">
      <td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 15px;padding-right: 20px;padding-bottom: 10px;padding-left: 20px">

        <div style="color:#555555;line-height:120%;">
          <p style="margin: 0;font-size: 18px;line-height: 21px;text-align: left">
            <span style="font-size: 18px;">
              <strong>
                <span style="font-size: 18px;">
                  <a style="color: #555555;text-decoration: underline" href="http://<%=ENV['DEFAULT_CONSUMER_HOST']%>/account" target="_blank">MANAGE</a></span>
              </strong>
            </span>
          </p>
        </div>
        <div style='text-align: left;'>
          <p style="margin: 0;font-size: 14px;line-height: 16px; padding-left: 40px;">
            <span style="color: rgb(51, 51, 51); font-size: 14px; line-height: 16px;">
              Make changes to your new account anytime through your dashboard.
            </span>
          </p>
        </div>
      </td>
    </tr>
    <tr style="vertical-align: top">
      <td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 15px;padding-right: 20px;padding-bottom: 10px;padding-left: 20px">

        <div style="color:#555555;line-height:120%;">
          <p style="margin: 0;font-size: 18px;line-height: 21px;text-align: left">
            <span style="font-size: 18px;">
              <strong>
                <span style="font-size: 18px;">
                  <a style="color: #555555;text-decoration: underline" href="<%=ENV['LISTSERV_MARKETING_URL']%>" target="_blank">
                   HOW TO POST
                  </a>
                </span>
              </strong>
            </span>
          </p
        </div>
        <div style='text-align: left;'>
          <p style="margin: 0;font-size: 14px;line-height: 16px; padding-left: 40px;">
            <span style="color: rgb(51, 51, 51); font-size: 14px; line-height: 16px;">
              Check out the market, events calendar and local news.
            </span>
          </p>
        </div>
      </td>
    </tr>
    <tr style="vertical-align: top">
      <td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 15px;padding-right: 20px;padding-bottom: 10px;padding-left: 20px">

        <div style="color:#555555;line-height:120%;">
          <p style="margin: 0;font-size: 18px;line-height: 21px;text-align: left">
            <span style="font-size: 18px;">
              <strong>
                <span style="font-size: 18px;">
                  <a style="color: #555555;text-decoration: underline" href="http://<%=ENV['DEFAULT_CONSUMER_HOST']%>" target="_blank">
                    BROWSE.
                  </a>
                </span>
              </strong>
            </span>
          </p>
        </div>
        <div style='text-align: left;'>
          <p style="margin: 0;font-size: 14px;line-height: 16px; padding-left: 40px;">
            <span style="color: rgb(51, 51, 51); font-size: 14px; line-height: 16px;">
              Look at other people's stuff, comments, shares, news.
            </span>
          </p>
        </div>
      </td>
    </tr>
    <tr style="vertical-align: top">
      <td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-top: 15px;padding-right: 20px;padding-bottom: 10px;padding-left: 20px">

        <div style="color:#555555;line-height:120%;">
          <p style="margin: 0;font-size: 18px;line-height: 21px;text-align: left">
            <span style="font-size: 18px;">
              <strong>
                <span style="font-size: 18px;">
                  <a style="color: #555555;text-decoration: underline" href="http://<%=ENV['DEFAULT_CONSUMER_HOST']%>" target="_blank">
                    ENJOY.
                  </a>
                </span>
              </strong>
            </span>
          </p>
        </div>
        <div style='text-align: left;'>
          <p style="margin: 0;font-size: 14px;line-height: 16px; padding-left: 40px;">
            <span style="color: rgb(51, 51, 51); font-size: 14px; line-height: 16px;">
              Your Community and neighbors on dailyUV.
            </span>
          </p>
        </div>
      </td>
    </tr>
  </tbody>
</table>

