%table.table.table-striped.table-bordered.data-table.table-condensed
  %thead
    %tr
      %th Name
      %th Parser
      %th Organization
      %th Last Run
      %th Next Scheduled Run
      %th
      %th Status
      %th 
  %tbody
    - @import_jobs.each do |job|
      %tr{ class: "import-job-#{job.id}" }
        %td= link_to job.name, edit_admin_import_job_path(job)
        %td= link_to job.parser.name, edit_admin_parser_path(job.parser) if job.parser
        %td= job.organization.name
        %td= job.last_run_at.strftime("%m/%d/%Y %I:%M%p") if job.last_run_at.present?
        %td.next-run
          = job.next_scheduled_run.strftime("%m/%d/%Y %I:%M%p") if job.next_scheduled_run.present?
        %td.run-job-button
          = action_button_for_job(job)
        %td.job-status
          %div{ class: "label label-#{alert_class_for_status(job.status)}" }= job.status
        %td.delete-job
          = link_to "Archive", admin_archive_import_job_path(job), class: "btn btn-small btn-warning", remote: true, data: { confirm: "Are you sure?" }
          = link_to "Delete", admin_import_job_path(job), class: "btn btn-small btn-danger", remote: true, method: :delete, data: { confirm: "Are you sure?" }
