.row-fluid
  .span12.box.bordered-box.blue-border
    .box-header.blue-background
      .title
        %i.icon-search
        Find Content Sets
      .actions
        %a.btn.box-remove.btn-mini.btn-link{ href: "#" }
          %i.icon-remove
        %a.btn.box-collapse.btn-mini.btn-link{ href: "#" }
          %i
    .box-content
      = search_form_for @search, url: admin_content_sets_path do |f|
        .controls.controls-row
          .field.span3
            = f.label :publication_id_in, "Publications"
            = f.collection_select :publication_id_in, Publication.accessible_by(current_ability), :id, :name, {}, { multiple: true, class: "chosen-select" }
          .field.span3
            = f.label :import_method_in, "Import Method"
            = f.select :import_method_in, ContentSet::IMPORT_METHODS, {}, { multiple: true, class: "chosen-select", include_blank: true }
          .field.span3
            = f.label :status_in, "Status"
            = f.select :status_in, ContentSet::STATUSES, {}, { multiple: true, class: "chosen-select", include_blank: true }
        .form-actions
          = f.submit "Search", class: "btn btn-primary"
          = f.submit "Reset", name: "reset", class: "btn"
%table.table.table-striped.table-bordered.data-table.table-condensed
  %thead
    %tr
      %th ID
      %th Name
      %th Publication
      %th Status
      %th Date Range
      %th Ongoing?
      %th Import Method
      %th
  %tbody
    - @content_sets.each do |content_set|
      %tr{ class: "content_set-#{content_set.id}" }
        %td= content_set.id
        %td= link_to content_set.name, edit_admin_content_set_path(content_set)
        %td= link_to content_set.publication.try(:name), edit_admin_publication_path(content_set.publication)
        %td= content_set.status
        %td= "#{content_set.start_date.try(:strftime, "%m/%d/%Y")} - #{content_set.end_date.try(:strftime, "%m/%d/%Y")}"
        %td
          - if content_set.ongoing
            %i.icon-check
        %td= content_set.import_method
        %td= link_to "Import Jobs", admin_import_jobs_path(content_set_id: content_set.id), class: "btn btn-mini btn-success"
