= simple_form_for(campaign,
  url: campaign.persisted? ? listserv_campaign_path(campaign.listserv, campaign) : listserv_campaigns_path(campaign.listserv),
  html: {"data-remote"=>true, class: 'form-horizontal'}) do |c|
  = c.input :title, hint: 'not visible to receivers'
  = c.input :community_ids, collection: Location.non_region.consumer_active, input_html: { multiple: true }
  = c.input :preheader
  = c.input :sponsored_by
  = c.input :promotion_id, as: :string
  = c.input :digest_query
