= simple_form_for @content, html: { class: "form" } do |f|
  = f.error_notification
  .tabbable
    %ul.nav.nav-tabs.nav-tabs-simple#edit_doctabs
      %li.active
        = link_to "#", class: 'green-border', data: { toggle: "tab", target: "#features" } do
          %i.icon-info
          Features
      %li#event_tab_link
        = link_to "#", class: "green-border", data: { toggle: "tab", target: "#event_features" } do
          %i.icon-info
          Event Features
      %li#contents_tab_link
        = link_to "#", class: "green-border", data: { toggle: "tab", target: "#doc_content" } do
          %i.icon-reorder
          Content
      %li
        = link_to "#", class: "green-border", data: { toggle: "tab", target: "#images" } do
          %i.icon-reorder
          Images
      - if @content.id.present?
        %li
          = link_to "#", class: "green-border", data: { toggle: "tab", target: "#publish" } do
            %i.icon-upload
            Publish/Export
      - if @content.published?
        %li
          = link_to "#", class: "green-border", data: { toggle: "tab", target: "#annotation_reports" } do
            Annotation Reports
      - if @content.source.present?
        %li
          = link_to "#", class: "green-border", data: { toggle: "tab", target: "#promotions" } do
            %i.icon-eye-open
            Promotions
      %li.pull-right
        %span.btn.btn-small.tab-traversal-link{ data: { move_index: "-1" } } Previous
        %span.btn.btn-small.tab-traversal-link{ data: { move_index: "1" } } Next
    .tab-content
      .tab-pane.active.form-horizontal#features
        -# uneditable features displayed in info box if content exists
        .row-fluid
          .span8
            = f.input :category, collection: Content::CATEGORIES.map{ |c| [c.titlecase, c] }
            = f.association :source, input_html: { class: "chosen-select span12" }, 
                label: "Publication", wrapper_html: { class: "span9" }
            .span2
              %span.btn.btn-small.btn-success#add_new_publication{ data: { toggle: "modal", 
                  target: "#publication_form", form_url: new_publication_path(short_form: true) } }
                + Add New
          - if @content.id.present?
            .span4
              %dl
                %dt Origin
                %dd= @content.origin
                %dt Source Category
                %dd= @content.source_category
                %dt Quarantined?
                %dd
                  - if @content.quarantine
                    %i.icon-ok
                %dt Published?
                %dd= @content.repositories.map{ |r| r.dsp_endpoint }.join(", ")
        = f.input :title, input_html: { class: "input-block-level" }
        = f.input :subtitle, input_html: { class: "input-block-level" }
        = f.input :authors, input_html: { class: "input-block-level" }
        .row-fluid
          .span6.control-group
            = label_tag "Search for parent content", nil, class: "control-label"
            .controls
              = text_field_tag "parent_search", nil, class: "span12"
          = f.association :issue, 
            collection: (@content.source.present? ? @content.source.issues.order("issue_edition ASC") : ["Select a Publication First"]), 
            input_html: { class: "chosen-select span12", 
            data: { options_url: issue_select_options_path, selected_id: @content.issue.try(:id) } }, 
            wrapper_html: { class: "span6" }
        .row-fluid
          = f.association :parent, collection: (@content.parent.present? ? [[@content.parent.title, @content.parent.id]] : []), 
            input_html: { class: "chosen-select span12", 
            data: { options_url: parent_select_options_path, content_id: @content.id } },
            wrapper_html: { class: "span6" }, label: false, include_blank: true,
            hint: "Search for options by typing an ID or title in the text box above."
          = f.input :copyright, input_html: { class: "span12" }, wrapper_html: { class: "span6" }
        .row-fluid
          = f.input :pubdate, as: :datetime_picker, input_html: { value: @content.pubdate || Date.today }, wrapper_html: { class: "span6" }
          = f.input :timestamp, disabled: true, as: :string, wrapper_html: { class: "span6" }
        = f.input :url, input_html: { class: "input-block-level" }
      .tab-pane.form-horizontal#event_features
        = f.input :event_type, wrapper_html: { class: "span6" }, input_html: { class: "span12" }
        = f.input :featured, wrapper_html: { class: "span6" }, label: "Featured?"
        .row-fluid#event_content
          = f.input :content, wrapper_html: { class: "span10" }, input_html: {class: "ckeditor span12" }, label: "Description"
        .row-fluid
          = f.input :start_day, as: :fake, wrapper_html: { class: "span4" },
            input_html: { value: f.object.start_date.try(:strftime, "%m/%d/%Y") }
          = f.input :start_time, as: :fake, wrapper_html: { class: "span4" },
            input_html: { value: f.object.start_date.try(:strftime, "%l:%M %P") }
        .row-fluid
          = f.input :end_day, as: :fake, wrapper_html: { class: "span4" },
            input_html: { value: f.object.end_date.try(:strftime, "%m/%d/%Y") }
          = f.input :end_time, as: :fake, wrapper_html: { class: "span4" },
            input_html: { value: f.object.end_date.try(:strftime, "%l:%M %P") }
        .row-fluid
          = f.input :host_organization, input_html: { class: "input-block-level", value: (@content.host_organization.present? ? @content.host_organization : @content.source.try(:name)) }
        .row-fluid
          = f.input :cost, wrapper_html: { class: "span6" }, input_html: { class: "span12" }
          = f.input :recurrence, wrapper_html: { class: "span6" }, input_html: { class: "span12" }
        %hr
        %h3 Location
        .row-fluid
          = f.association :business_location, collection: @business_location_options, 
            hint: "Select a location or add a new one below.", 
            label: false, wrapper_html: { class: "span12" }, 
            selected: @business_location_id, include_blank: true,
            input_html: { data: { options_url: business_location_options_path },
            class: "span12" }
          .span7
            = f.simple_fields_for :business_location do |g|
              = g.input :name, input_html: { class: "input-block-level" }
              = g.input :address, input_html: { class: "input-block-level" }
              .row-fluid
                = g.input :email, wrapper_html: { class: "span6" }
                = g.input :phone, wrapper_html: { class: "span6" }
              = g.input :hours, input_html: { class: "input-block-level" }
              .pull-right
                = label_tag "Save to publication?"
                = check_box_tag :save_to_publication
        %hr
        %h3 Links
        .row-fluid
          %span.pull-left.btn.btn-success.add-new-field-link{ data: { field_type: "links", model: "content" } } + Add New Link
          = text_field_tag "new_link_field", nil, class: "new-serialized-field span3"
        = f.fields_for :links do |g|
          .row-fluid.serialized-field-header
            .span2= label_tag "Label"
            .span3= label_tag "Value"
          - if @content.links.present?
            - @content.links.each_pair do |k,v|
              .row-fluid.serialized-field-row
                .span2= label_tag k
                .span6= g.text_field "#{k}", value: v, class: "span12"
                .span2
                  .btn.btn-danger.remove-serialized-field X
      .tab-pane#doc_content
        = f.input :content, input_html: { class: "ckeditor input-block-level" }
      .tab-pane#images
        = fields_for Image.new do |i|
          %fieldset#image_fields
            = file_field_tag :image, title: "Add Images +", data: { upload_url: images_path }, multiple: true, name: "image[image]", id: "image_image"
            = label_tag "or just drag & drop here"
            / if content exists, submit a hidden content id field as well
            - if @content.id
              = i.hidden_field :imageable_type, value: @content.class.to_s
              = i.hidden_field :imageable_id, value: @content.id
            - else
              = f.association :images, as: :hidden, input_html: { name: "content[image_list]", value: "" }
        %script{ id: "template-upload", type: "text/x-tmpl" }
          .upload
            {%=o.name%}
            .progress
              .bar{ style: "width: 0%" }
        .row-fluid#image_list
          = render @content.images
      - if @content.id.present?
        .tab-pane#publish{ data: { no_turbolink: "" } }
          = render 'contents/partials/publishing_tab'
      - if @content.published?
        .tab-pane#annotation_reports
          = render 'contents/partials/annotation_reports_tab'
      - if @content.source.present?
        .tab-pane#promotions
          = render "promotions/partials/promotions_tab", content: @content
    .form-actions
      = submit_tag nil, class: "btn btn-primary"
      = submit_tag "Submit and continue with this record", class: "btn btn-success", name: "continue_editing"
      = submit_tag "Submit and add new", class: "btn btn-success", name: "create_new"
      = link_to "Cancel", :back, class: "btn"

- if @content.published?
  .modal.hide.fade#annotations
    .modal-header
      %a.pull-right.btn.btn-primary.span2{ href: "#", data: { dismiss: "modal" } } Finish
      %span.pull-right#num-reviewed.span2
      %h3#annotation_report_name
    #annotation_form
    .modal-body
      Loading annotations...

.modal.hide.fade#publication_form
  .modal-header
    %button.close{ type: "button", data: { dismiss: "modal" } } x
    %h3 Add Publication
  .modal-body
    Loading form...
