= simple_form_for @content, html: { class: "form" } do |f|
  = f.error_notification
  .tabbable
    %ul.nav.nav-tabs.nav-tabs-simple#edit_doctabs
      %li.active
        = link_to "#", class: 'green-border', data: { toggle: "tab", target: "#features" } do
          %i.icon-info
          Features
      %li
        = link_to "#", class: "green-border", data: { toggle: "tab", target: "#doc_content" } do
          %i.icon-reorder
          Content
      %li
        = link_to "#", class: "green-border", data: { toggle: "tab", target: "#images" } do
          %i.icon-reorder
          Images
      - if @content.source.present?
        %li
          = link_to "#", class: "green-border", data: { toggle: "tab", target: "#promotions" } do
            %i.icon-eye-open
            Promotions
    .tab-content
      .tab-pane.active.form-horizontal#features
        = f.input :title, input_html: { class: "input-block-level" }
        = f.input :subtitle, input_html: { class: "input-block-level" }
        = f.input :authors, input_html: { class: "input-block-level" }
        .row-fluid
          = f.association :source, input_html: { class: "chosen-select span12" }, wrapper_html: { class: "span6" }, label: "Publication"
          = f.input :copyright, input_html: { class: "span12" }, wrapper_html: { class: "span6" }
        .row-fluid
          = f.association :issue, collection: (@content.source.present? ? @content.source.issues.order("issue_edition ASC") : ["Select a Publication First"]), input_html: { class: "chosen-select span12", data: { options_url: issue_select_options_path } }, wrapper_html: { class: "span6" }
        .row-fluid
          = f.input :pubdate, as: :datetime_picker, wrapper_html: { class: "span6" }
          = f.input :timestamp, disabled: true, as: :string, wrapper_html: { class: "span6" }
        = f.input :categories, input_html: { class: "input-block-level" }
        = f.input :url, input_html: { class: "input-block-level" }
      .tab-pane#doc_content
        = f.input :content, input_html: { class: "ckeditor input-block-level" }
      .tab-pane#images
        = fields_for Image.new do |i|
          %fieldset#image_fields
            = file_field_tag :image, title: "Add Images +", data: { upload_url: images_path }, multiple: true, name: "image[image]", id: "image_image"
            = label_tag "or just drag & drop here"
            / if content exists, submit a hidden content id field as well
            - if @content.id
              = i.hidden_field :imageable_type, value: @content.class.to_s
              = i.hidden_field :imageable_id, value: @content.id
            - else
              = f.association :images, as: :hidden, input_html: { name: "content[image_list]", value: "" }
        %script{ id: "template-upload", type: "text/x-tmpl" }
          .upload
            {%=o.name%}
            .progress
              .bar{ style: "width: 0%" }
        .row-fluid#image_list
          = render @content.images
      - if @content.source.present?
        .tab-pane#promotions
          = render "promotions/partials/promotions_tab", content: @content
    .form-actions
      = submit_tag nil, class: "btn btn-primary"
      = link_to "Cancel", :back, class: "btn"
