= simple_form_for @content, html: { class: "form" } do |f|
  = f.error_notification
  .tabbable
    %ul.nav.nav-tabs.nav-tabs-simple#edit_doctabs
      %li{ class: @content.is_event? ? "" : "active" }
        = link_to "#", class: 'green-border', data: { toggle: "tab", target: "#features" } do
          %i.icon-info
          Features
      %li#event_tab_link{ class: @content.is_event? ? "active" : "" }
        = link_to "#", class: "green-border", data: { toggle: "tab", target: "#event_features" } do
          %i.icon-info
          Event Features
      %li#contents_tab_link
        = link_to "#", class: "green-border", data: { toggle: "tab", target: "#doc_content" } do
          %i.icon-reorder
          Content
      %li
        = link_to "#", class: "green-border", data: { toggle: "tab", target: "#images" } do
          %i.icon-reorder
          Images
      - if @content.id.present?
        %li
          = link_to "#", class: "green-border", data: { toggle: "tab", target: "#publish" } do
            %i.icon-upload
            Publish/Export
      - if @content.published?
        %li
          = link_to "#", class: "green-border", data: { toggle: "tab", target: "#annotation_reports" } do
            Annotation Reports
      - if @content.source.present?
        %li
          = link_to "#", class: "green-border", data: { toggle: "tab", target: "#promotions" } do
            %i.icon-eye-open
            Promotions
      %li.pull-right
        %span.btn.btn-small.tab-traversal-link{ data: { move_index: "-1" } } Previous
        %span.btn.btn-small.tab-traversal-link{ data: { move_index: "1" } } Next
    .tab-content
      .tab-pane.form-horizontal#features{ class: @content.is_event? ? "" : "active" }
        -# uneditable features displayed in info box if content exists
        .row-fluid
          .span4
            .row-fluid
              .span12
                = f.association :content_category, label_method: :label
            .row-fluid
              .span12
                = f.association :source, input_html: { class: "chosen-select span12" }, 
                  label: "Publication"
          .span2
            = f.input :category_reviewed, label: "Category Reviewed?"
            %span.btn.btn-small.btn-success#add_new_publication{ data: { toggle: "modal", 
                target: "#publication_form", form_url: new_publication_path(short_form: true) } }
              + Add New

          - if @content.id.present?
            .span4
              %dl
                %dt Origin
                %dd= @content.origin
                %dt Source Category
                %dd= @content.source_category
                %dt Quarantined?
                %dd
                  - if @content.quarantine
                    %i.icon-ok
                %dt Published?
                %dd= @content.repositories.map{ |r| r.dsp_endpoint }.join(", ")
        = f.input :title, input_html: { class: "input-block-level" }
        = f.input :subtitle, input_html: { class: "input-block-level" }
        = f.input :authors, input_html: { class: "input-block-level" }
        .row-fluid
          .span6.control-group
            = label_tag "Search for parent content", nil, class: "control-label"
            .controls
              = text_field_tag "parent_search", nil, class: "span12"
          = f.association :issue, 
            collection: (@content.source.present? ? @content.source.issues.order("issue_edition ASC") : ["Select a Publication First"]), 
            input_html: { class: "chosen-select span12", 
            data: { options_url: issue_select_options_path, selected_id: @content.issue.try(:id) } }, 
            wrapper_html: { class: "span6" }
        .row-fluid
          = f.association :parent, collection: (@content.parent.present? ? [[@content.parent.title, @content.parent.id]] : []), 
            input_html: { class: "chosen-select span12", 
            data: { options_url: parent_select_options_path, content_id: @content.id } },
            wrapper_html: { class: "span6" }, label: false, include_blank: true,
            hint: "Search for options by typing an ID or title in the text box above."
          = f.input :copyright, input_html: { class: "span12" }, wrapper_html: { class: "span6" }
        .row-fluid
          = f.input :pubdate, as: :datetime_picker, input_html: { value: @content.pubdate || Date.today }, wrapper_html: { class: "span6" }
          = f.input :timestamp, disabled: true, as: :string, wrapper_html: { class: "span6" }
        = f.input :url, input_html: { class: "input-block-level" }
      .tab-pane#event_features{ class: @content.is_event? ? "active" : "" }
        .row-fluid
          .span6
            = f.input :event_description, wrapper_html: { class: "span12" }, input_html: {class: "ckeditor span12",
              value: @content.event_description.present? ? @content.event_description : @content.sanitized_content}, 
              label: "Description", as: :text
          .span6
            .row-fluid
              .span2.pull-right
                = f.input :has_event_calendar, label: "Curated?"
            .row-fluid
              = f.input :event_title, wrapper_html: { class: "span12" }, input_html: { class: "span12",
                value: @content.event_title.present? ? @content.event_title : remove_list_from_title(@content.title) }
            .row-fluid
              = f.input :start_day, as: :fake, wrapper_html: { class: "span6" },
                input_html: { value: f.object.start_date.try(:strftime, "%m/%d/%Y"), class: "span12" }
              = f.input :start_time, as: :fake, wrapper_html: { class: "span6" },
                input_html: { value: f.object.start_date.try(:strftime, "%l:%M %P"), class: "span12"}
            .row-fluid
              = f.input :end_day, as: :fake, wrapper_html: { class: "span6" },
                input_html: { value: f.object.end_date.try(:strftime, "%m/%d/%Y"), class: "span12" }
              = f.input :end_time, as: :fake, wrapper_html: { class: "span6" },
                input_html: { value: f.object.end_date.try(:strftime, "%l:%M %P"), class: "span12" }
            .row-fluid
              = f.input :recurrence, wrapper_html: { class: "span12" }, input_html: { class: "span12" }
            .row-fluid
              .control-group.select.optional.content_business_location.span12
                .row-fluid
                  = f.label :business_location_id, label: "Venue", class: "span6"
                  .span6.venue-links.text-right
                    %span.text-right.venue-link#edit_venue_link{ style: "#{ @content.business_location.present? ? "" : "display: none;" }",
                      data: {form_url: edit_business_location_path(@content.business_location.present? ? @content.business_location.id : 1) } }
                      Edit
                    %span.text-right.venue-link#new_venue_link{ data: { form_url: new_business_location_path } }
                      + Create Venue
                .row-fluid
                  .span10offset1#embedded_business_location_form{ style: "display: none;" }

                .row-fluid
                  .controls.span12
                    = f.input_field :business_location_id, class: "span12 select2", 
                      collection: BusinessLocation.all, label_method: :select_option_label,
                      include_blank: true, placeholder: "Select a venue"
            .row-fluid
              = f.input :event_type, wrapper_html: { class: "span9" }, input_html: { class: "span12" }
              = f.input :featured, wrapper_html: { class: "span3" }, label: "Featured?"
            .row-fluid
              = f.input :event_url, input_html: { class: "input-block-level" }, label: "Event URL"
            .row-fluid
              = f.input :host_organization, input_html: { class: "input-block-level" },
                label: "Sponsor"
            .row-fluid
              = f.input :sponsor_url, input_html: { class: "input-block-level" }, label: "Sponsor URL"
            .row-fluid
              = f.input :cost, wrapper_html: { class: "span12" }, input_html: { class: "span12" }
        %hr
        %h3 Links
        .row-fluid
          %span.pull-left.btn.btn-success.add-new-field-link{ data: { field_type: "links", model: "content" } } + Add New Link
          = text_field_tag "new_link_field", nil, class: "new-serialized-field span3", placeholder: "Link Label"
        = f.fields_for :links do |g|
          .row-fluid.serialized-field-header{ style: @content.links.present? ? "" : "display: none;" }
            .span2= label_tag "Link Label"
            .span3= label_tag "Value"
          - if @content.links.present?
            - @content.links.each_pair do |k,v|
              .row-fluid.serialized-field-row
                .span2= label_tag k
                .span6= g.text_field "#{k}", value: v, class: "span12"
                .span1
                  .btn.btn-danger.remove-serialized-field X
      .tab-pane#doc_content
        = f.input :sanitized_content, input_html: { class: "ckeditor input-block-level" }, label: "Content", as: :text
      .tab-pane#images
        = fields_for Image.new do |i|
          %fieldset#image_fields
            = file_field_tag :image, title: "Add Images +", data: { upload_url: images_path }, multiple: true, name: "image[image]", id: "image_image"
            = label_tag "or just drag & drop here"
            / if content exists, submit a hidden content id field as well
            - if @content.id
              = i.hidden_field :imageable_type, value: @content.class.to_s
              = i.hidden_field :imageable_id, value: @content.id
            - else
              = f.association :images, as: :hidden, input_html: { name: "content[image_list]", value: "" }
        %script{ id: "template-upload", type: "text/x-tmpl" }
          .upload
            {%=o.name%}
            .progress
              .bar{ style: "width: 0%" }
        .row-fluid#image_list
          = render @content.images
      - if @content.id.present?
        .tab-pane#publish{ data: { no_turbolink: "" } }
          = render 'contents/partials/publishing_tab'
      - if @content.published?
        .tab-pane#annotation_reports
          = render 'contents/partials/annotation_reports_tab'
      - if @content.source.present?
        .tab-pane#promotions
          = render "promotions/partials/promotions_tab", content: @content
    .form-actions
      = submit_tag nil, class: "btn btn-primary"
      = submit_tag "Submit and continue with this record", class: "btn btn-success", name: "continue_editing"
      - if @next_content_id.present?
        = hidden_field_tag :next_record_id, @next_content_id
        = hidden_field_tag :index, @next_index
        = hidden_field_tag :page, params[:page]
        = submit_tag "Submit and go to next record", class: "btn btn-success", name: "next_record"
      = submit_tag "Submit and add new", class: "btn btn-success", name: "create_new"
      - if @content.id.present? and !@content.quarantine
        - if current_user.default_repository.present?
          = link_to "Publish", publish_content_path(@content, "post_to_ontotext", current_user.default_repository.id),
            class: "btn btn-primary publish-action-button"
        - else
          .has-tooltip.btn{ disabled: "disabled", data: { toggle: "tooltip", 
            title: "You must select a default repository for your user account" } } Publish
      = link_to "Cancel", :back, class: "btn cancel"

- if @content.published?
  .modal.hide.fade#annotations
    .modal-header
      %a.pull-right.btn.btn-primary.span2{ href: "#", data: { dismiss: "modal" } } Finish
      %span.pull-right#num-reviewed.span2
      %h3#annotation_report_name
    #annotation_form
    .modal-body
      Loading annotations...

.modal.hide.fade#publication_form
  .modal-header
    %button.close{ type: "button", data: { dismiss: "modal" } } x
    %h3 Add Publication
  .modal-body
    Loading form...
