= simple_form_for @content, html: { class: "form" } do |f|
  - if @content.errors.any?
    .alert.alert-error
      Please review the problems below:
      %ul
        - @content.errors.full_messages.each do |msg|
          %li= msg
  .tabbable
    %ul.nav.nav-tabs.nav-tabs-simple#edit_doctabs
      %li{ class: "active" }
        = link_to "#", class: 'green-border', data: { toggle: "tab", target: "#details" } do
          %i.icon-info
          Details
      - if @content.channel.blank? or @content.channel_type == 'Comment'
        %li#contents_tab_link
          = link_to "#", class: "green-border", data: { toggle: "tab", target: "#doc_content" } do
            %i.icon-reorder
            Content
      - if @content.channel_type == 'Event'
        %li
          = link_to "#", class: "green-border", data: { toggle: "tab", target: "#event_detail" } do
            %i.icon-calendar
            Event Detail
      - if @content.channel_type == 'MarketPost'
        %li
          = link_to "#", class: "green-border", data: { toggle: "tab", target: "#market_detail" } do
            %i.icon-calendar
            Market Detail
      %li
        = link_to "#", class: "green-border", data: { toggle: "tab", target: "#images" } do
          %i.icon-reorder
          Images
      %li
        = link_to "#", class: "green-border", data: { toggle: "tab", target: "#crisis" } do
          %i.icon-flag
          Crisis
    .tab-content
      .tab-pane.form-horizontal#details{ class: "active" }
        -# uneditable features displayed in info box if content exists
        .row-fluid
          .span6
            .row-fluid
              .span12
                %div{ id: 'news-child-id', data: { news_child_ids: @news_child_ids } }
                = f.association :content_category, label_method: :label
            .row-fluid
              .span12
                = f.association :location, collection: Location.where(consumer_active: true).order(state: :asc, city: :asc), prompt: "Choose a Location", input_html: { class: "chosen-select span12" }, label: "Location"
            .row-fluid
              .span12
                = f.association :organization, input_html: { class: "chosen-select span12" }, 
                  label: "Organization"
          .span3
            %span.btn.btn-small.btn-success#add_new_organization{ data: { toggle: "modal", 
                target: "#organization_form", form_url: new_organization_path(short_form: true) } }
              + Add New

            - if @content.id.present?
              %dl
                %dt Quarantined?
                %dd
                  - if @content.quarantine
                    %i.icon-ok
        = f.association :organizations, label: 'Tagged Organizations', input_html: { class: 'chosen-select input-block-level' }
        = f.input :title, input_html: { class: "input-block-level" }
        = f.input :subtitle, input_html: { class: "input-block-level" }
        = f.input :authors, input_html: { class: "input-block-level" }
        .row-fluid
          .span6.control-group
            = label_tag "Search for parent content", nil, class: "control-label"
            .controls
              = text_field_tag "parent_search", nil, class: "span12"
        .row-fluid
          = f.association :parent, collection: (@content.parent.present? ? [[@content.parent.title, @content.parent.id]] : []), 
            input_html: { class: "chosen-select span12", 
            data: { options_url: parent_select_options_path, content_id: @content.id } },
            wrapper_html: { class: "span6" }, label: false, include_blank: true,
            hint: "Search for options by typing an ID or title in the text box above."
        .row-fluid
          = f.input :pubdate, as: :datetime_picker, input_html: { value: @content.pubdate || Date.current }, wrapper_html: { class: "span6" }
        .row-fluid.sponsored-content
          = f.input :banner_ad_override, wrapper_html: { class: 'span6' },
            hint: 'The id of the Promotion record that should show with this content.',
            as: :string
      - if @content.channel.blank? or @content.channel_type == 'Comment'
        .tab-pane#doc_content
          .summernote-wrapper
            = f.input :sanitized_content, as: :summernote, label: 'Content'

      - if @content.channel_type == 'Event'
        .tab-pane#event_detail
          .row-fluid
            .span6
              = f.input :sanitized_content, as: :summernote, label: 'Event Description'
            .span6
              - if @content.channel.venue.present?
                .row-fluid
                  %h4 Venue
                  %strong= @content.channel.venue.name
                  %br
                  = @content.channel.venue.address
                  %br
                  #{@content.channel.venue.city}, #{@content.channel.venue.state} #{@content.channel.venue.zip}
                  %br
                  = @content.channel.venue.venue_url
                  %br
                  #{@content.channel.venue.email} #{@content.channel.venue.phone}
                %hr
              = f.simple_fields_for :event, @content.event do |g|
                = g.input :event_url, input_html: { class: "input-block-level" }, required: false
                .row-fluid
                  = g.input :contact_phone, input_html: { class: "input-block-level" },
                    wrapper_html: { class: "span6" }, required: false
                  = g.input :contact_email, input_html: { class: "input-block-level" },
                    wrapper_html: { class: "span6" }, required: false
                .row-fluid
                  = g.input :cost_type, input_html: { class: "input-block-level" },
                    wrapper_html: { class: 'span6' }, required: false
                  = g.input :cost, input_html: { class: "input-block-level" },
                    wrapper_html: { class: 'span6' }, required: false
                .row-fluid
                  = g.input :registration_deadline, as: :date_picker,
                    input_html: { class: "input-block-level" }, required: false
          %hr
          %h3 Event Instances
          = paginate @event_instances if @event_instances.present?
          %table.table.table-striped.table-hover.table-condensed
            %thead
              %tr
                %th Start Day
                %th Start Time
                %th End Time
                %th Subtitle
                %th Presenter Name
            %tbody
              - @event_instances.each do |ei|
                %tr
                  %td= ei.start_date.try(:strftime, '%m/%d/%Y')
                  %td= ei.start_date.try(:strftime, '%l:%M %P')
                  %td= ei.end_date.try(:strftime, '%l:%M %P')
                  %td= ei.subtitle_override
                  %td= ei.presenter_name

      - if @content.channel_type == 'MarketPost'
        .tab-pane#market_detail
          .row-fluid
            .span6
              = f.input :sanitized_content, as: :summernote, label: "Description", required: true
            .span6
              = f.simple_fields_for :market_post do |g|
                = g.input :cost, input_html: { class: 'input-block-level' }
                .row-fluid
                  .span6
                    = g.input :contact_phone, as: :tel, input_html: { class: 'input-block-level' }
                  .span6
                    = g.input :contact_email, input_html: { class: 'input-block-level' }
            
      .tab-pane#images
        = fields_for Image.new do |i|
          %fieldset#image_fields
            = file_field_tag :image, title: "Add Images +", data: { upload_url: images_path }, multiple: true, name: "image[image]", id: "image_image"
            = label_tag "or just drag & drop here"
            / if content exists, submit a hidden content id field as well
            - if @content.id
              = i.hidden_field :imageable_type, value: @content.class.to_s
              = i.hidden_field :imageable_id, value: @content.id
            - else
              = f.association :images, as: :hidden, input_html: { name: "content[image_list]", value: "" }
        %script{ id: "template-upload", type: "text/x-tmpl" }
          .upload
            {%=o.name%}
            .progress
              .bar{ style: "width: 0%" }
        .row-fluid#image_list
          = render @content.images
      .tab-pane#crisis
        = render 'contents/partials/crisis_form', content: @content, f: f
    .form-actions
      = submit_tag "Submit and close record", class: "btn btn-primary"
      = submit_tag "Submit and continue with this record", class: "btn btn-success", name: "continue_editing"
      = render 'contents/partials/crisis_submit', content: @content, type: 'content'
      = link_to "Cancel", :back, class: "btn cancel"

.modal.hide.fade#organization_form
  .modal-header
    %button.close{ type: "button", data: { dismiss: "modal" } } x
    %h3 Add Organization
  .modal-body
    Loading form...
