.span4.well
  = link_to features["TITLE"], content_path(document_id)
  - if features["SOURCE"].present?
    %br
  = features["SOURCE"]
  - if features["AUTHORS"].present?
    %br
  = features["AUTHORS"] if features.has_key? "AUTHORS"
  = "--" if features["TIMESTAMP"].present?
  = Time.at(features["TIMESTAMP"]) 
  %br
  = features["LOCATION"] if features.has_key? "LOCATION"
  = "--" if features["LOCATION"].present?
  = content.truncate(150, separator: " ", omission: "...")
