.tile.item.isotope-item
  %h3 
    %i.halflings-icon.align-justify
    Local News
  .tile-content
    %span.title
      = link_to features["TITLE"], content_path(document_id)
    %br
    = features["SOURCE"]
    - if features["SOURCE"].present? and features["AUTHORS"].present?
      \- 
    = features["AUTHORS"]
    - if features["SOURCE"].present? or features["AUTHORS"].present?
      %br
    = features["LOCATION"] if features.has_key? "LOCATION"
    = "--" if features["LOCATION"].present?
    = content.truncate(150, separator: " ", omission: "...") 
    = link_to "more", content_path(document_id)
