.tile.item.isotope-item{ class: "#{channels.map{ |c| c.name.gsub(" ", "_").downcase }.join(' ') if channels}" }
  .channel-header
    - if channels
      = image_tag "#{channels[0].name.gsub(" ", "_").downcase}_channel_header.png"
    - else
      = image_tag "placeholder_channel_header.png"
  .tile-content
    %span.title
      = link_to content.title, content
    %br
    = content.source.try(:name)
    - if content.source.present? and content.authors.present?
      \- 
    = content.authors
    - if content.source.present? or content.authors.present?
      %br
    = content.location.try(:city)
    = "--" if content.location.present?
    = content.content.truncate(150, separator: " ", omission: "...") 
    = link_to "more", content
