.row-fluid
  .span12.box.bordered-box.blue-border
    .box-header.blue-background
      .title
        %i.icon-search
        Find Contents
      .actions
        %a.btn.box-remove.btn-mini.btn-link{ href: "#" }
          %i.icon-remove
        %a.btn.box-collapse.btn-mini.btn-link{ href: "#" }
          %i
    .box-content
      = search_form_for @search, url: contents_path do |f|
        .controls.controls-row
          .field.span2
            = f.label :id_in, "ID"
            -# format id_in val for display so it matches what's entered
            - if session[:contents_search].present? and session[:contents_search].has_key? :id_in and session[:contents_search][:id_in].present?
              - id_in_val = session[:contents_search][:id_in].join(',')
            - else
              - id_in_val = ""
            = f.text_field :id_in, value: id_in_val, class: "span12"
          .field.span2
            = f.label :organization_id_in, "Organizations"
            = f.collection_select :organization_id_in, Organization.accessible_by(current_ability), 
              :id, :name, {}, { multiple: true, class: "chosen-select span12" }
          .field.span2
            = f.label :location_id_eq, 'Location'
            = f.collection_select :location_id_eq, @locations,
              :id, :name, { prompt: 'Select' }, { class: 'chosen-select span12' }
          .field.span2
            = f.label :pubdate_gteq, "Pubdate From"
            = f.text_field :pubdate_gteq, type: :date, value: search_field_value(:pubdate_gteq), class: "span12"
          .field.span2
            = f.label :pubdate_lteq, "Pubdate To"
            = f.text_field :pubdate_lteq, type: :date, value: search_field_value(:pubdate_lteq), class: "span12"
        .controls.controls-row
          .field.span2
            = f.label :title_cont, "Title"
            = f.text_field :title_cont, class: "span12"
          .field.span2
            = f.label :authors_or_created_by_name_cont, "Authors"
            = f.text_field :authors_or_created_by_name_cont, class: "span12"
          .field.span2
            = f.label :content_category_id_in, "Category"
            = f.collection_select :content_category_id_in, @content_categories,
              :id, :label, { include_blank: true },
              { multiple: true, class: "chosen-select span12" }
          .field.span2
            = f.label :pubdate_not_null, "Published?"
            = f.select :pubdate_not_null,
              options_for_select([['All', nil],['Published', 'true'],['Unpublished', 'false']], search_field_value(:pubdate_not_null)),
              {}, { class: 'span12' }
        .controls.controls-row
          .field.span2
            = f.label :event_instances_start_date_gteq, "Start Date"
            = f.text_field :event_instances_start_date_gteq, type: :date, value: search_field_value(:event_instances_start_date_gteq), class: "span12"
          .field.span2
            = f.label :event_instances_end_date_lteq, "End Date"
            = f.text_field :event_instances_end_date_lteq, type: :date, value: search_field_value(:event_instances_end_date_lteq), class: "span12"
        .form-actions
          = f.submit "Search", class: "btn btn-primary"
          = f.submit "Reset", name: "reset", class: "btn"
%table.table.table-striped.table-hover.table-condensed#contents_index
  %thead
    %tr
      %th= sort_link(@search, :id, 'Content ID')
      %th Category
      %th= sort_link(@search, :title)
      %th Organization
      %th Authors
      %th= sort_link(@search, :pubdate)
      %th Initial Start Date
      %th
  .span5
    = page_entries_info @contents if @contents.present?
    = paginate @contents, window: 2 if @contents.present?
  %tbody
    - @contents.each_with_index do |c, i|
      %tr{ class: "content-#{c.id}" }
        %td= c.id
        %td= c.content_category.try(:label)
        %td
          = link_to c.title, edit_content_path(c)
          - if c.raw_content.present?
            %br
            .index_content
              - stripped = strip_tags(c.sanitized_content.gsub('<',' <')).gsub(/[[:space:]]{2,}/, ' ')
              = stripped.truncate(50).html_safe
        %td
          - if c.organization.present?
            = link_to c.organization.name, edit_organization_path(c.organization)
        %td
          - if c.author_name.present?
            = link_to CGI.unescape_html(c.author_name).truncate(25), contents_path(q: { authors_cont: c.author_name })
        %td= c.pubdate.try(:strftime, "%Y-%m-%d")
        %td
          - if c.channel_type == 'Event'
            = c.channel.event_instances.first.start_date.try(:strftime, '%Y-%m-%d')
        %td.actions
          = link_to "edit", edit_content_path(c), class: "btn btn-mini btn-warning"
