.row-fluid
  .span12.box.bordered-box.blue-border
    .box-header.blue-background
      .title
        Content ID #{@content.id} - 
        = link_to edit_content_path(@content) do
          %i.icon-pencil
          Edit
    .box-content
      .tabbable
        %ul.nav.nav-tabs.nav-tabs-simple#doctabs
          %li.active
            = link_to "#", class: 'green-border', data: { toggle: "tab", target: "#features" } do
              %i.icon-info
              Features
          %li
            = link_to "#", class: "green-border", data: { toggle: "tab", target: "#doc_content" } do
              %i.icon-reorder
              Content
          %li
            = link_to "#", class: "green-border", data: { toggle: "tab", target: "#images" } do
              %i.icon-picture
              Images
          %li
            = link_to "#", class: "green-border", data: { toggle: "tab", target: "#publish" } do
              %i.icon-upload
              Publish/Export
          - if @content.published?
            %li
              = link_to "#", class: "green-border", data: { toggle: "tab", target: "#annotation_reports" } do
                Annotation Reports
          %li
            = link_to "#", class: "green-border", data: { toggle: "tab", target: "#promotions" } do
              %i.icon-eye-open
              Promote Content
        .tab-content
          .tab-pane.active#features
            %dl
              %dt Title
              %dd= @content.title
              %dt Subtitle
              %dd= @content.subtitle
              %dt Publication
              %dd= @content.source.try(:name)
              %dt Copyright
              %dd= @content.copyright
              %dt Issue
              %dd= @content.issue.try(:issue_edition)
              %dt Pub Date
              %dd= @content.pubdate.try(:strftime, "%Y-%m-%d")
              %dt Authors
              %dd= @content.authors
              %dt Import Location
              %dd= @content.import_location.try(:city)
              %dt Categories
              %dd= @content.categories
              %dt URL
              %dd= @content.url
              %dt Origin
              %dd= @content.origin
              %dt Quarantined?
              %dd
                - if @content.quarantine
                  %i.icon-ok
              %dt Published?
              %dd
                - if @content.published?
                  %i.icon-ok
          .tab-pane#doc_content
            = sanitize simple_format @content.content
          .tab-pane#images
            = render @content.images
          .tab-pane#publish{ data: { no_turbolink: "" } }
            .field.span3
              = label_tag :publish_repository_id, "Repository"
              = select_tag :publish_repository_id, options_from_collection_for_select(Repository.all, "id", "name")
            .span9.publish-methods
              - Content::PUBLISH_METHODS.each do |method|
                - if method == "export_pre_pipeline_xml" or method == "export_post_pipeline_xml"
                  = link_to method.humanize, publish_content_path(id: @content, method: method, repository_id: Repository.first.id, download_result: true), class: "btn btn-info"
                - else
                  = link_to method.humanize, publish_content_path(@content, method, Repository.first.id), class: "btn btn-info"
              - if @content.published?
                = link_to "Export Gate XML", rdf_to_gate_path(@content, Repository.first.id), class: "btn btn-info", target: "_blank"
          .tab-pane#promotions
            = render "promotions/partials/promotions_tab", content: @content
          - if @content.published?
            .tab-pane#annotation_reports
              .pull-left
                .span4
                  = link_to "+ Create New", "#", class: "btn btn-success", data: { toggle: "modal", target: "#annotations", action_url: create_annotation_report_path(@content.id) }, id: "create-annotation-report"
                .field.span5
                  = label_tag :repository_id, "Repository"
                  = select_tag :repository_id, options_from_collection_for_select(Repository.all, "id", "name")
                .field.span3
                  = label_tag :report_name, "Name"
                  = text_field_tag :report_name
              .pull-right
                .span4
                  = link_to "CSV Export", export_annotation_reports_path(@content.id, format: :csv), class: "btn btn-success"
              %table.table.table-striped.table-condensed
                %thead
                  %tr
                    %th 
                    %th 
                    %th.metric{ colspan: 2} Recognized
                    %th.metric{ colspan: 2} Lookups
                    %th.metric Additional Edges
                    %th
                  %tr
                    %th Name
                    %th Created At
                    %th.metric Total
                    %th.metric Correct
                    %th.metric Total
                    %th.metric Correct
                    %th.metric Total
                    %th &nbsp;
                %tbody
                  - @content.annotation_reports.each do |ar|
                    = render partial: "annotation_reports/partials/table_row", locals: { ar: ar}

- if @content.published?
  .modal.hide.fade#annotations
    .modal-header
      %a.pull-right.btn.btn-primary.span2{ href: "#", data: { dismiss: "modal" } } Finish
      %span.pull-right#num-reviewed.span2
      %h3#annotation_report_name
    #annotation_form
    .modal-body
      Loading annotations...
