- if @content.issue.publication.logo
  = image_tag @content.issue.publication.logo
%h1 
  = @content.title
- if @content.authors
  %h5 
    = @content.authors
%p
  - if @content.location
    = @content.location.city + " -- "
  = sanitize @content.content