%table.table.table-striped.table-bordered.data-table.table-condensed
  %thead
    %tr
      %th Active?
      %th Name
      %th Controller
      %th Action
      %th
  %tbody
    - @wufoo_forms.each do |wufoo_form|
      %tr{ class: "wufoo_form-#{wufoo_form.id}" }
        %td 
          - if wufoo_form.active
            %i.icon-ok
          - else
            %i.icon-remove
        %td= link_to wufoo_form.name, edit_wufoo_form_path(wufoo_form)
        %td= wufoo_form.controller
        %td= wufoo_form.action
        %td.actions
          = link_to "edit", edit_wufoo_form_path(wufoo_form), class: "btn btn-mini btn-warning"
