= simple_form_for @event_category, html: { class: 'form form-horizontal' } do |f| 
  = f.error_notification
  -if @event_category.errors.messages[:base].present?
    %div.alert.alert-error
      %span= @event_category.errors.messages[:base].first

  .form-inputs
    = f.input :name
    = f.input :query, as: :text, placeholder: 'Split phrases by comma for a Match Phrase search'
    = f.input :query_modifier, as: :radio_buttons, collection: EventCategory::QUERY_MODIFIERS, item_wrapper_class: 'inline', hint: 'Search defaults to use AND'

  .form-actions
    = f.button :submit