#{@job.class.name} "#{@job.name}" (ID #{@job.id}) has failed on run record #{@record.id}

See log files for details.

- if @job.frequency.present?
  Job will attempt to repeat again. If it fails 3 times in a row, it will stop until manually restarted.

Error message:
= @error
