["#{issue.id}","#{issue.issue_edition}","#{issue.copyright}","#{issue.publication_date.try(:strftime, '%m/%d/%Y')}",
"<a href='#' class='edit-issue-link btn btn-success' data-form-url='#{edit_issue_path(issue)}' data-toggle='modal' data-target='#issue_form'><i class='icon-pencil'></i></a><a href='#{issue_path(issue)}' class='btn btn-danger' data-confirm='Are you sure?' data-method='delete' data-remote='true' rel='nofollow'>X</a>"]
