.row-fluid
  .span12.box.bordered-box.blue-border
    .box-header.blue-background
      .title
        %i.icon-search
        Find Publications
      .actions
        %a.btn.box-remove.btn-mini.btn-link{ href: "#" }
          %i.icon-remove
        %a.btn.box-collapse.btn-mini.btn-link{ href: "#" }
          %i
    .box-content
      = search_form_for @search, url: publications_path do |f|
        .controls.controls-row
          .field.span3
            = f.label :id_in, "Publication"
            = f.collection_select :id_in, Publication.accessible_by(current_ability), :id, :name, {}, { multiple: true, class: "chosen-select" }
          .field.span3
            = f.label :pub_type_in, "Publication Type"
            = f.select :pub_type_in, Publication::PUB_TYPE_OPTIONS, {}, { multiple: true, class: "chosen-select" }
          .field.span3
            = f.label :organization_id_in, "Organization"
            = f.collection_select :organization_id_in, Organization.accessible_by(current_ability), :id, :name, {}, { multiple: true, class: "chosen-select" }
          .field.span3
            = f.label :locations_id_in, "Service Area"
            = f.collection_select :locations_id_in, Location.accessible_by(current_ability), :id, :city, {}, { multiple: true, class: "chosen-select" }
        .controls.controls-row
          .field.span3
            = f.label :consumer_apps_id_in, "Consumer Apps"
            = f.collection_select :consumer_apps_id_in, ConsumerApp.accessible_by(current_ability), :id, :name, {}, { multiple: true, class: "chosen-select" }
        .form-actions
          = f.submit "Search", class: "btn btn-primary"
          = f.submit "Reset", name: "reset", class: "btn"
%table.table.table-striped.table-bordered.data-table.table-condensed
  %thead
    %tr
      %th ID
      %th Publication
      %th Organization
      %th Parent
      %th # Imported
      %th 
  %tbody
    - @publications.each do |publication|
      %tr{ class: "publication-#{publication.id}" }
        %td= publication.id
        %td= link_to publication.name, edit_publication_path(publication)
        %td= link_to publication.organization.try(:name), "#"
        %td
          - if publication.parent.present?
            = link_to publication.parent.try(:name), edit_publication_path(publication.parent)
        %td= publication.contents.count
        %td
          = link_to "content", contents_path(q: { source_id_in: publication.id }), class: "btn btn-mini btn-info"
          = link_to "content sets", content_sets_path(q: { publication_id_in: publication.id }), class: "btn btn-mini btn-success"
