- if @users.present?
  - @users.each do |u|
    %tr{ class: "user-#{u.id}" }
      %td= u.id
      %td= u.name
      %td= u.email
      %td.actions
        = link_to '+ Add', '#',
          class: 'btn btn-small btn-success payment-recipient-action-link',
          data: { form_url: new_payment_recipient_path(user_id: u.id) }

- else
  No results found.
