var status_div = $("tr.job-#{@job.id} td.job-status div");
status_div.html("#{@job.status}");

var next_run_div = $("tr.job-#{@job.id} td.next-run");
next_run_div.html("#{@job.next_scheduled_run.try(:strftime, '%m/%d/%Y %I:%M%p')}");

// clear 
status_div.removeClass("alert-success alert-error alert-info");
// add appropriate class to status
status_div.addClass("#{j alert_class_for_status(@job.status)}");

$("tr.job-#{@job.id} .run-job-button").html("#{j action_button_for_job(@job)}");
