.row-fluid
  .span12.box.bordered-box.blue-border
    .box-header.blue-background
      .title
        %i.icon-search
        Find Contents
      .actions
        %a.btn.box-remove.btn-mini.btn-link{ href: "#" }
          %i.icon-remove
        %a.btn.box-collapse.btn-mini.btn-link{ href: "#" }
          %i
    .box-content
      = search_form_for @search, url: admin_contents_path do |f|
        .controls.controls-row
          .field.span3
            = f.label :id_eq, "ID"
            = f.text_field :id_eq
          .field.span3
            = f.label :source_id_in, "Publications"
            = f.collection_select :source_id_in, Publication.accessible_by(current_ability), :id, :name, {}, { multiple: true, class: "chosen-select" }
          .field.span3
            = f.label :pubdate_gteq, "From"
            = f.text_field :pubdate_gteq, type: :date
          .field.span3
            = f.label :pubdate_lteq, "To"
            = f.text_field :pubdate_lteq, type: :date
        .controls.controls-row
          .field.span3
            = f.label :import_location_link_name_cont, "Location"
            = f.text_field :import_location_link_name_cont
          .field.span3
            = f.label :title_cont, "Title"
            = f.text_field :title_cont
          .field.span3
            = f.label :authors_cont, "Authors"
            = f.text_field :authors_cont
        .form-actions
          = f.submit "Search", class: "btn btn-primary"
%table.table.table-striped.table-hover.table-condensed
  %thead
    %tr
      %th Source
      %th Title
      %th Authors
      %th Location
      %th Pubdate
  .span5
    = page_entries_info @contents if @contents.present?
    = paginate @contents, window: 2 if @contents.present?
  %tbody
    - @contents.each do |c|
      %tr
        %td
          - if c.source.present?
            = link_to c.source.name, admin_contents_path(q: { source_id_in: c.source.id })
        %td= link_to c.title, [:admin, c]
        %td
          - if c.authors.present?
            = link_to c.authors, admin_contents_path(q: { authors_cont: c.authors })
        %td
          - if c.import_location.present?
            = link_to c.import_location.city, admin_contents_path(q: { import_location_id_in: c.import_location.id })
        %td= c.pubdate.try(:strftime, "%Y-%m-%d")
