#wrapper
  .row
    .well
      %h1= @content.title
      %h2= @content.source.try(:name)
      %h3= @content.import_location.try(:city)
      %h4= @content.authors
      %h4= @content.pubdate.strftime("%Y-%m-%d")
      - Content::PUBLISH_METHODS.each do |method|
        = link_to method.humanize, admin_publish_content_path(@content, method), class: "btn btn-info"
      %h3 Content:
      = simple_format @content.content
