= @event.title
\
- @event.event_instances.each do |instance|
  = event_instance_display(instance)
\
- if @venue.present?
  = @venue.name if @venue.name.present?
  = @venue.address if @venue.address.present?
  - if @venue.phone.present?
    Phone: #{@venue.phone}
  - if @venue.email.present?
    Email: #{@venue.email}
\
= @event.event_url if @event.event_url.present?
\
- clean_content = @body.gsub("\u{a0}",'').gsub('&nbsp;', '')
= strip_tags(clean_content)
\
- cost_label = cost_label(@event)

- if cost_label
  %p
    Cost: #{cost_label}
\
- contact_string = contact_display(@event)
- if contact_string.present?
  Contact: #{contact_string}
\
- if @event.sponsor_url.present?
  Sponsor: #{@event.sponsor_url}
\
- if @event.links.present?
  - @event.links.each do |k,v| 
    #{k}: #{v}
\
- if @base_uri.present?
  - url = "#{@base_uri}/events/#{@event.content.id}/#{@event.event_instances.first.id}"
- else
  - url = "http://www.dailyuv.com/events"
\
= 'View map and discover more on ' + url

