= @event.content.title
\
- @event.event_instances.each do |instance|
  = event_instance_display(instance)
\
- if @venue.present?
  = @venue.name if @venue.name.present?
  = @venue.full_address if @venue.full_address.present?
\
= raw strip_tags(@body)
\
= @event.event_url if @event.event_url.present?
\
- cost_label = cost_label(@event)
- if cost_label
  Cost: #{cost_label}
\
- contact_string = contact_display(@event)
- if contact_string.present?
  Contact: #{contact_string}
\
- if @event.sponsor_url.present?
  Sponsor: #{@event.sponsor_url}
\
- if @event.links.present?
  - @event.links.each do |k,v| 
    #{k}: #{v}
\
- if @base_uri.present?
  - url = "#{@base_uri}/events/#{@event.event_instances.first.id}"
- else
  - url = "http://www.dailyuv.com/events"
\
= 'View map and discover more on ' + url

