%p= @event.title

%p
  - @event.event_instances.each do |instance|
    = event_instance_display(instance)
    %br

- if @venue.present?
  %p
    = @venue.name if @venue.name.present?
    = @venue.full_address if @venue.full_address.present?
    - if @venue.phone.present?
      %br
      Phone:
      = @venue.phone
    - if @venue.email.present?
      %br
      Email:
      = Rinku.auto_link(@venue.email).html_safe

%p
  = Rinku.auto_link(@body).html_safe


- if @event.event_url.present?
  %p
    = link_to @event.event_url.to_s, @event.event_url

- cost_label = cost_label(@event)

- if cost_label
  %p
    Cost: #{cost_label}

- contact_string = contact_display(@event)
- if contact_string.present?
  %p
    Contact:
    = Rinku.auto_link(contact_string).html_safe


- if @event.sponsor_url.present?
  %p
    Sponsor:
    = link_to @event.sponsor_url.to_s, @event.sponsor_url

- if @event.links.present?
  %p
    - @event.links.each do |k,v| 
      =link_to k, v
      %br

%p
  - if @base_uri.present?
    - url = "#{@base_uri}/events/#{@event.content.id}/#{@event.event_instances.first.id}"
  - else
    - url = "http://www.dailyuv.com/events"

  = 'View map and discover more on '
  = link_to 'dailyUV.com', url
