%p= @event.content.title

%p
  - @event.event_instances.each do |instance|
    = event_instance_display(instance)
    %br

- if @venue.present?
  %p
    = @venue.name if @venue.name.present?
    - if @venue.name.present? and @venue.full_address.present?
      %br
    = @venue.full_address if @venue.full_address.present?

%p
  = Rinku.auto_link(@body).html_safe

- cost_label = cost_label(@event)
- if cost_label
  %p
    Cost: #{cost_label}

- contact_string = contact_display(@event)
- if contact_string.present?
  %p
    Contact:
    = Rinku.auto_link(contact_string).html_safe


- if @event.sponsor_url.present?
  %p
    Sponsor:
    = link_to @event.sponsor_url.to_s, @event.sponsor_url

- if @event.links.present?
  %p
    - @event.links.each do |k,v| 
      =link_to k, v
      %br

%p
  - if Thread.current[:consumer_app].present?
    - url = "#{Thread.current[:consumer_app].uri}#{ux2_event_path(@event)}"
  - elsif @base_uri.present?
    - url = "#{@base_uri}/events/#{@event.event_instances.first.id}"
  - else
    - url = "http://www.dailyuv.com/events"

  See all the colorful details on
  = link_to 'dailyUV.com', url
