= @event.content.title
\
- if @event.schedules.present?
  - @event.schedules.each do |schedule|
    - if schedule.schedule.recurrence_rules.present?
      - line1,line2 = friendly_schedule_date(schedule)
      \
      = line1
      = line2
      \
    - else
      - schedule.event_instances.each do |instance|
        = event_instance_display(instance)
- else
  - @event.event_instances.each do |instance|
    = event_instance_display(instance)
\
- if @venue.present?
  = @venue.name if @venue.name.present?
  = @venue.full_address if @venue.full_address.present?
\
= raw strip_tags(@body)
\
- cost_label = cost_label(@event)
- if cost_label
  Cost: #{cost_label}
\
- contact_string = contact_display(@event)
- if contact_string.present?
  Contact: #{contact_string}
\
- if @event.sponsor_url.present?
  Sponsor: #{@event.sponsor_url}
\
- if @event.links.present?
  - @event.links.each do |k,v| 
    #{k}: #{v}
\ 
\
= 'See all the colorful details on ' + event_url_for_email(@event)

