%p= @market_post.content.title
%br

%p= Rinku.auto_link(@body).html_safe

- if @market_post.cost.present?
  %p Cost: #{@market_post.cost}

- contact_string = market_contact_display(@market_post)
- if contact_string.present?
  %p Contact: #{Rinku.auto_link(contact_string).html_safe}


- if @market_post.locate_address.present?
  %p Where: #{@market_post.locate_address}

%p
  See photos and details in
  = link_to 'dailyUV\'s UVMarket', market_post_url_for_email(@market_post)
