%p
  .strong= @market_post.content.title
%br
- if @market_post.cost.present?
  .strong Cost: #{@market_post.cost}

= Rinku.auto_link(@body).html_safe

- contact_string = contact_display(@market_post)
- if contact_string.present?
  %p 
    .strong Contact: #{Rinku.auto_link(contact_string).html_safe}


- if @market_post.locate_address.present?
  %p
    .strong Where: #{@market_post.locate_address}

- url = 'http://www.dailyuv.com/uvmarket'
- if @base_uri.present?
  - url = "#{@base_uri}/contents/#{@market_post.content.id}/market_posts/#{@market_post.id}"

See details and discover more in
= link_to 'dailyUV\'s UVMarket', url
