= @market_post.content.title
\
= raw strip_tags(@body)
\
- if @market_post.cost.present?
  Cost: #{@market_post.cost}
  \
- contact_string = contact_display(@market_post)
- if contact_string.present?
  Contact: #{contact_string}
  \
- if @market_post.locate_address.present?
  Where: #{@market_post.locate_address}
  \
- if Thread.current[:consumer_app].present?
  - url = "#{Thread.current[:consumer_app].uri}#{ux2_content_path(@market_post.content)}"
- elsif @base_uri.present?
  - url = "#{@base_uri}/contents/#{@market_post.content.id}/market_posts/#{@market_post.id}"
- else
  - url = "http://www.dailyuv.com/uvmarket"
\
See details and discover more in dailyUV Market: #{url}
