= @event.event_title || @event.title

= @event.start_date.strftime("%b %-d, %Y")
- time_range = @event.start_date.strftime("%-l:%M %P")
- if @event.end_date.present?
  - time_range += " - " + @event.end_date.strftime("%-l:%M %P")
= time_range

- if @event.business_location.present?
  = @event.business_location.name if @event.business_location.name.present?
  = @event.business_location.address if @event.business_location.address.present?
  = @event.business_location.phone if @event.business_location.phone.present?
  = @event.business_location.email if @event.business_location.email.present?

= @event.event_url if @event.event_url.present?

- if @base_uri.present?
  View More: #{@base_uri}/events/#{@event.id}

= strip_tags(@event.event_description || @event.raw_content)

- if @event.cost.present?
  Cost: #{@event.cost}

- if @event.sponsor_url.present?
  Sponsor: #{@event.sponsor_url}

- if @event.links.present?
  - @event.links.each do |k,v| 
    #{k}: #{v}
