= @market_post.content.title

= strip_tags(@market_post.content.raw_content)

- if @market_post.cost.present?
  Cost: #{@market_post.cost}

- contact_string = contact_display(@market_post)
- if contact_string.present?
  Contact: #{contact_string}

- if @base_uri.present?
  - url = "#{@base_uri}/contents/#{@market_post.content.id}/market_posts/#{@market_post.id}"
- else
  - url = "http://www.dailyuv.com/uvmarket"

See details and discover more in dailyUV Market: #{url}
