%li{ class: current_page?(admin_dashboard_path) ? "active" : "" }
  = link_to admin_dashboard_path do
    %i.icon-dashboard
    %span Dashboard
%li
  = link_to admin_organizations_path do
    %i.icon-group
    %span Organizations
    %i.icon-angle-down.angle-down
  %ul{ class: "nav nav-stacked #{controller_name == "organizations" ? "in" : "" }" }
    %li{ class: current_page?(admin_organizations_path) ? "active" : "" }
      = link_to admin_organizations_path do
        %i.icon-search
        %span Search
    %li{ class: current_page?(new_admin_organization_path) ? "active" : "" }
      = link_to new_admin_organization_path do
        %i.icon-plus
        %span Create New
%li
  = link_to admin_publications_path do
    %i.icon-anchor
    %span Publications
    %i.icon-angle-down.angle-down
  %ul{ class: "nav nav-stacked #{controller_name == "publications" ? "in" : "" }" }
    %li{ class: current_page?(admin_publications_path) ? "active" : "" }
      = link_to admin_publications_path do
        %i.icon-search
        %span Search
    %li{ class: current_page?(new_admin_publication_path) ? "active" : "" }
      = link_to new_admin_publication_path do
        %i.icon-plus
        %span Create New
%li
  = link_to admin_contents_path do
    %i.icon-file-alt
    %span Contents
    %i.icon-angle-down.angle-down
  %ul{ class: "nav nav-stacked #{controller_name == "contents" ? "in" : "" }" }
    %li{ class: current_page?(admin_contents_path) ? "active" : "" }
      = link_to admin_contents_path do
        %i.icon-tasks
        %span Search
    %li{ class: current_page?(new_admin_content_path) ? "active" : "" }
      = link_to new_admin_content_path do
        %i.icon-plus
        %span Create New
%li
  = link_to admin_content_sets_path do
    %i.icon-copy
    %span Content Sets
    %i.icon-angle-down.angle-down
  %ul{ class: "nav nav-stacked #{controller_name == "content_sets" ? "in" : "" }" }
    %li{ class: current_page?(admin_content_sets_path) ? "active" : "" }
      = link_to admin_content_sets_path do
        %i.icon-tasks
        %span Search
    %li{ class: current_page?(new_admin_content_set_path) ? "active" : "" }
      = link_to new_admin_content_set_path do
        %i.icon-plus
        %span Create New
%li
  = link_to admin_import_jobs_path do
    %i.icon-circle-arrow-up
    %span Import Jobs
    %i.icon-angle-down.angle-down
  %ul{ class: "nav nav-stacked #{controller_name == "import_jobs" ? "in" : "" }" }
    %li{ class: current_page?(admin_import_jobs_path) ? "active" : "" }
      = link_to admin_import_jobs_path do
        %i.icon-tasks
        %span Active
    %li{ class: current_page?(new_admin_import_job_path) ? "active" : "" }
      = link_to new_admin_import_job_path do
        %i.icon-plus
        %span Create New
%li
  = link_to admin_publish_jobs_path do
    %i.icon-circle-arrow-right
    %span Publish Jobs
    %i.icon-angle-down.angle-down
  %ul{ class: "nav nav-stacked #{controller_name == "publish_jobs" ? "in" : "" }" }
    %li{ class: current_page?(admin_publish_jobs_path) ? "active" : "" }
      = link_to admin_publish_jobs_path do
        %i.icon-tasks
        %span All
    %li{ class: current_page?(new_admin_publish_job_path) ? "active" : "" }
      = link_to new_admin_publish_job_path do
        %i.icon-plus
        %span Create New
%li 
  = link_to "#" do
    %i.icon-usd
    %span Campaigns
    %i.icon-angle-down.angle-down
%li 
  = link_to "#" do
    %i.icon-user
    %span Users
%li 
  = link_to "#" do
    %i.icon-hand-right
    %span More
    %i.icon-angle-down.angle-down
%li{ class: "#{controller_name == "parsers" ? "active" : "" }" } 
  = link_to admin_parsers_path do
    %i.icon-book
    %span Parsers/Parameters
