.row-fluid
  .span12.box.bordered-box.blue-border
    .box-header.blue-background
      .title
        %i.icon-search
        Find Users
      .actions
        %a.btn.box-remove.btn-mini.btn-link{ href: "#" }
          %i.icon-remove
        %a.btn.box-collapse.btn-mini.btn-link{ href: "#" }
          %i
    .box-content
      = search_form_for @search, url: users_path do |f|
        .controls.controls-row
          .field.span2
            = f.label :id_eq, "ID"
            = f.number_field :id_eq, class: 'span12'
          .field.span3
            = f.label :name_cont, "Name"
            = f.text_field :name_cont, class: 'span12'
          .field.span3
            = f.label :email_eq, "Email"
            = f.text_field :email_eq, class: "span12"
          .field.span3
            = f.label :source_cont, "Source"
            = f.select :source_cont, @user_sources, include_blank: true
          .field.span2
            = f.label :archived_true, "Archived?"
            = f.check_box :archived_true
          .field.span3
            = f.label :social_login, "Display all Social Users"
            = f.check_box :social_login, checked: session[:users_search].try(:[], :social_login) == '1'
        .form-actions
          = f.submit "Search", class: "btn btn-primary"
          = f.submit "Reset", name: "reset", class: "btn"


.row-fluid
  .span5
    = paginate @users, window: 2 if @users.present?
  .span4
    %h3 Users
  .span3.user-table-count
    %p Displaying #{((@page *25) - 25) + 1} - #{@page * 25 > @total_count ? @total_count : @page * 25} of #{@total_count} total users
.span12
  %table.table.table-condensed
    %thead
      %tr
        %th Username
        %th Email
        %th Registered
        %th Role
        %th Organization
        %th Source
        %th Confirmed?
        %th
        %th
    %tbody
      - @users.each do |user|
        %tr
          %td= link_to user.name, user
          %td= user.email
          %td= user.created_at.try(:to_date)
          %td= user.roles.first.name.titleize unless user.roles.first.nil?
          %td= Organization.with_role(:manager, user).first.try(:name)
          - if user.social_logins.present?
            %td= user.social_logins.first.provider
          -else
            %td= user.source
          %td= user.confirmed? ? "Yes" : "No"
          %td
            %a.btn-warning.btn.btn-mini{ href: edit_user_path(user), type: "button" } Edit
            %a.btn-error.btn.btn-mini{ href: new_user_archiving_path(user), type: 'button' } Archive
