%fieldset
  - start_date = f.object.start_date
  - end_date = f.object.end_date
  .row-fluid
    = f.input :start_day, wrapper_html: { class: 'span4' },
      input_html: { value: start_date.try(:strftime, '%m/%d/%Y'), class: 'span9' }, as: :date_picker, required: true
    = f.input :start_time, label: 'Start Time', wrapper_html: { class: 'span4' },
      input_html: { value: start_date.try(:strftime, '%l:%M %P'), class: 'span8' }
    = f.input :end_time, label: 'End Time', wrapper_html: { class: 'span4' },
      input_html: { value: end_date.try(:strftime, '%l:%M %P'), class: 'span8' }
  .row-fluid
    = f.input :subtitle_override, wrapper_html: { class: 'span4' }, label: "Subtitle (opt)",
      input_html: { class: 'span12' }
    = f.input :presenter_name, wrapper_html: { class: 'span4' },
      input_html: { class: 'span12' }
    = link_to 'remove', destroy_event_instance_path(event_instance_id: f.object.id, event_id: f.object.event_id), method: :put, remote: true, class: 'btn btn-danger pull-right remove_fields'
  = f.hidden_field :id
  = f.hidden_field :_destroy
%hr
