.row-fluid
  .span12.box.bordered-box.blue-border
    .box-header.blue-background
      .title
        %i.icon-search
        Find Events
      .actions
        %a.btn.box-remove.btn-mini.btn-link{ href: "#" }
          %i.icon-remove
        %a.btn.box-collapse.btn-mini.btn-link{ href: "#" }
          %i
    .box-content
      = search_form_for @search, url: events_path do |f|
        .controls.controls-row
          .field.span2
            = f.label :event_content_id_in, "Content ID"
            -# format id_in val for display so it matches what's entered
            - if session[:events_search].present? and session[:events_search].has_key? :event_content_id_in and session[:events_search][:event_content_id_in].present?
              - id_in_val = session[:events_search][:event_content_id_in].join(',')
            - else
              - id_in_val = ""
            = f.text_field :event_content_id_in, value: id_in_val, class: "span12"
          .field.span2
            = f.label :event_content_title_cont, "Title"
            = f.text_field :event_content_title_cont, class: "span12"
          .field.span2
            = f.label :event_content_pubdate_gteq, "Pubdate From"
            = f.text_field :event_content_pubdate_gteq, type: :date, 
              value: event_search_field_value(:event_content_pubdate_gteq), class: "span12"
          .field.span2
            = f.label :event_content_pubdate_lteq, "Pubdate To"
            = f.text_field :event_content_pubdate_lteq, type: :date, 
              value: event_search_field_value(:event_content_pubdate_lteq), class: "span12"
          .field.span2
            = f.label :event_content_source_id_in, "Publications"
            = f.collection_select :event_content_source_id_in, Publication.accessible_by(current_ability),
              :id, :name, {}, { multiple: true, class: "chosen-select span12" }
        .controls.controls-row
          .field.span2
            = f.label :event_content_authors_cont, "Authors"
            = f.text_field :event_content_authors_cont, class: "span12"
          .field.span2
            = f.label :start_date_gteq, "Start Date From"
            = f.text_field :start_date_gteq, type: :date, 
              value: event_search_field_value(:start_date_gteq), class: "span12"
          .field.span2
            = f.label :start_date_lteq, "Start Date From"
            = f.text_field :start_date_lteq, type: :date, 
              value: event_search_field_value(:start_date_lteq), class: "span12"
          .field.span2
            = f.label :event_content_repositories_id_eq, "Published in Repository?"
            = f.collection_select :event_content_repositories_id_eq, Repository.all, :id, :name, { include_blank: true }, class: "span12"
        .form-actions
          = f.submit "Search", class: "btn btn-primary"
          = f.submit "Reset", name: "reset", class: "btn"

%table.table.table-striped.table-hover.table-condensed#events_index

  %thead
    %tr
      %th Content ID
      %th Title
      %th Source
      %th Authors
      %th Pubdate
      %th Start Date
      %th Featured?
      %th
  .span5
    = page_entries_info @event_instances if @event_instances.present?
    = paginate @event_instances, window: 2 if @event_instances.present?
  %tbody
    - @event_instances.each_with_index do |ei, i|
      - e = ei.event
      %tr{ class: "content-#{ei.id}" }
        %td= e.content.id
        %td= link_to e.title, edit_event_path(e.id, index: i, page: params[:page])
        %td
          - if e.content.source.present?
            = link_to e.source.name, events_path(q: { event_content_source_id_in: e.source.id })
        %td= link_to e.authors, events_path(q: { event_authors_cont: e.authors })
        %td
          - if e.pubdate.present?
            = e.pubdate.try(:strftime, "%Y-%m-%d")
        %td
          - if ei.start_date.present?
            = ei.start_date.strftime("%Y-%m-%d")
        %td
          - if e.featured
            %i.icon-check
          - else
            %i.icon-check-empty
        %td.actions
          = link_to "edit", edit_event_path(e), class: "btn btn-mini btn-warning"
