#annotation_details
  .annotation-info{ class: @annotation.lookup_class ? "span1" : "span3" }
    %h5 Type
    %span.annotation-val #{@annotation.annotation_type}
  .annotation-info{ class: @annotation.lookup_class ? "span2" : "span3" }
    %h5 Label
    %span.annotation-val #{@annotation.annotated_string}
  - unless @annotation.is_generated
    .annotation-info.span2
      %h5 Lookup Type
      %span.annotation-val #{@annotation.parsed_lookup_class}
    .annotation-info.span2
      %h5 Lookup 
      %span.annotation-val #{@annotation.lookup_label}
    .annotation-info.span3
      %h5 Immediate Edges
      %dl.annotation-val
        - @annotation.closest_edges_labels.each do |e|
          %dt= e[0]
          %dd= e[1]

  .actions.span2
    = label_tag :accepted, "Status"
    = select_tag :accepted, options_for_select([nil, ["Accepted", true], ["Rejected", false]], @annotation.accepted),
      { data: { action_url: admin_accept_annotation_path(@annotation.id) }, class: "span12" }
