- report = ar.metrics
%tr{ id: "ar-row-#{ar.id}" }
  %td= link_to ar.name, "#", class: "edit-annotation-report-link", data: { toggle: "modal", target: "#annotations", action_url: edit_admin_annotation_report_path(ar) }
  %td= ar.created_at.strftime("%m/%d/%Y %I:%M %P")
  %td.metric= report[:recognized]
  %td.metric= report[:correct_recognized]
  %td.metric= report[:trusted]
  %td.metric= report[:correct_trusted]
  %td.metric= report[:correct_lookup_edges]
  %td= link_to "Delete", admin_annotation_report_path(ar), class: "btn btn-mini btn-danger", remote: true, method: :delete, data: { confirm: "Are you sure?" }
