%table.table.table-striped.table-bordered.data-table.table-condensed
  %thead
    %tr
      %th Parser
      %th Filename
      %th Description
      %th Organization
      %th
      %th
  %tbody
    - @parsers.each do |parser|
      %tr{ class: "parser-#{parser.id}" }
        %td= link_to parser.name, edit_parser_path(parser)
        %td= parser.filename
        %td= parser.description
        %td= parser.organization.name
        %td.create-import-job
          = link_to "Create Import Job", new_import_job_for_parser_path(parser.id), class: "btn btn-success"
        %td.delete-parser
          = link_to "Delete", parser_path(parser), class: "btn-small btn-danger", remote: true, method: :delete, data: { confirm: "Are you sure?" }
