= simple_form_for @payment_recipient, html: { class: 'form' }, remote: true do |f|
  = f.error_notification
  = f.association :user, label_method: :name,
    collection: User.where(id: @payment_recipient.user_id),
    input_html: { class: 'input-block-level' }, include_blank: false
  = f.association :organization, label_method: :name,
    collection: @organizations,
    hint: 'ONLY assign an organization if you want payments to be calculated based on organization'
  .form-actions
    = f.submit class: 'btn btn-primary'
