%tr{ class: "contact-#{contact.id}" }
  %td= contact.id
  %td= contact.contact_type
  %td= contact.name
  %td= contact.phone
  %td= mail_to contact.email
  %td= truncate(contact.notes, length: 75)
  %td
    = link_to "#", class: "edit-contact-link btn btn-success", data: { form_url: edit_admin_contact_path(contact), toggle: "modal", target: "#contact_form" } do
      %i.icon-pencil
    = link_to "X", admin_contact_path(contact), method: :delete, remote: true, class: "btn btn-danger", confirm: "Are you sure?"
