.row-fluid
  .span12.box.bordered-box.blue-border
    - if @market_post.content.removed
      .box-header.red-background
        .title
          %i.icon-pencil
            Market Post Removed! ID #{@market_post.id} - #{@market_post.title}, Content ID #{@market_post.content.id}
    - else
      .box-header.blue-background
        .title
          %i.icon-pencil
            Market Post ID #{@market_post.id} - #{@market_post.title}, Content ID #{@market_post.content.id}
    .box-content
      = render partial: "market_posts/partials/form"