.row-fluid
  .span12.box.bordered-box.blue-border
    .box-header.blue-background
      .title
        %i.icon-search
        Find Market Posts
      .actions
        %a.btn.box-remove.btn-mini.btn-link{ href: "#" }
          %i.icon-remove
        %a.btn.box-collapse.btn-mini.btn-link{ href: "#" }
          %i
    .box-content
      = search_form_for @search, url: market_posts_path do |f|
        .controls.controls-row
          .field.span2
            = f.label :content_id_in, "ID"
            -# format id_in val for display so it matches what's entered
            - if session[:market_posts_search].present? and session[:market_posts_search].has_key? :content_id_in and session[:market_posts_search][:content_id_in].present?
              - content_id_in_val = session[:market_posts_search][:content_id_in]
            - else
              - content_id_in_val = ""
            = f.text_field :content_id_in, value: content_id_in_val, class: "span12"
          .field.span2
            = f.label :content_pubdate_gteq, "From"
            = f.text_field :content_pubdate_gteq, type: :date, value: search_field_value(:content_pubdate_gteq), class: "span12"
          .field.span2
            = f.label :content_pubdate_lteq, "To"
            = f.text_field :pubdate_lteq, type: :date, value: search_field_value(:content_pubdate_lteq), class: "span12"
          .field.span2
            = f.label :content_locations_id_in, 'Locations'
            = f.collection_select :content_locations_id_in, Location.accessible_by(current_ability),
              :id, :name, {}, { multiple: true, class: 'chosen-select span12' }
        .controls.controls-row
          .field.span2
            = f.label :content_title_cont, "Title"
            = f.text_field :content_title_cont, class: "span12"
          .field.span2
            = f.label :content_authors_cont, "Authors"
            = f.text_field :content_authors_cont, class: "span12"
          .field.span2
            = f.label :contact_email_cont, "Email"
            = f.text_field :contact_email_cont, class: "span12"
          .field.span2
            = f.label :sold_eq, "Sold?"
            = f.check_box :sold_eq
        .form-actions
          = f.submit "Search", class: "btn btn-primary"
          = f.submit "Reset", name: "reset", class: "btn"
%table.table.table-striped.table-hover.table-condensed#market_posts_index
  %thead
    %tr
      %th Content ID
      %th Title
      %th Authors
      %th Locations
      %th Email
      %th Sold?
      %th Pubdate
      %th
  .span5
    = page_entries_info @market_posts if @market_posts.present?
    = paginate @market_posts, window: 2 if @market_posts.present?
  %tbody
    - @market_posts.each_with_index do |c, i|
      %tr{ class: "content-#{c.id}" }
        %td= c.content.id
        %td= link_to c.title, edit_market_post_path(id: c.id, index: i, page: params[:page])
        %td
          - if c.authors.present?
            = link_to c.authors, user_path(c.created_by)
        %td
          - c.content.locations.each_with_index do |loc, i|
            = link_to loc.name, market_posts_path(q: { content_locations_id_in: [loc.id] })
            - unless i == (c.content.locations.count - 1)
              |
        %td
          - if c.contact_email.present?
            = c.contact_email
          - else
            = c.created_by.email
        %td= c.sold
        %td= c.pubdate.try(:strftime, "%Y-%m-%d")
        %td.actions
          = link_to "edit", edit_market_post_path(id: c.id, index: i, page: params[:page]), class: "btn btn-mini btn-warning"
          - unless c.published?
            = link_to "delete", market_post_path(c), method: :delete, remote: true, data: { confirm: "Are you sure?" }, class: "btn btn-mini btn-danger"
