.row-fluid
  .span12.box.bordered-box.blue-border
    .box-header.blue-background
      .title
        %i.icon-search
        Digests
    .box-content
      = search_form_for @search, url: listservs_path do |f|
        .controls.controls-row
          .field.span2
            = f.label :active_true, "Active"
            = f.check_box :active_true
        .form-actions
          = f.submit "Search", class: "btn btn-primary"
          = f.submit "Reset", name: "reset", class: "btn"

%table.table.table-striped.table-bordered.table-condensed
  %caption Displaying #{@listservs.count} listservs
  %thead
    %tr
      %th ID
      %th Name
      %th Digest Time
      %th Digest Day
      %th Subscribers
      %th

  %tbody
    - @listservs.each do |ls|
      %tr{ class: "listserv-#{ls.id}" }
        %td= ls.id
        %td= link_to ls.name, edit_listserv_path(ls)
        %td= ls.digest_send_time.strftime('%H:%M') if ls.digest_send_time?
        %td= ls.digest_send_day
        %td= ls.active_subscriber_count
        %td
          = link_to "Edit", edit_listserv_path(ls), class: 'btn btn-mini'
