= simple_form_for @report_job_recipient, html: { class: 'form' }, remote: true do |f|
  = f.error_notification
  .span12
    %strong User:
    = @report_job_recipient.report_recipient.user.name
  .span12
    %strong Alternative Emails:
    = @report_job_recipient.report_recipient.alternative_emails

  #recipient_job_params.form-column.row-fluid
    %button#add-to-recipient_job_params.btn Add Parameter
    .existing-fields-for-recipient_job_params
      = f.simple_fields_for :report_job_params do |param_form|
        .row-fluid.recipient-job-param
          = param_form.input :param_name, wrapper_html: { class: 'span5' }
          = param_form.input :param_value, wrapper_html: { class: 'span5' }
          %span.span2.close &times;
          = param_form.input :_destroy, as: :hidden, value: false
  #fields-for-recipient_job_params.numerous
    = f.simple_fields_for :report_job_params, ReportJobParam.new, child_index: "replace_this" do |param_form|
      = param_form.input :param_name, wrapper_html: { class: 'span5' }
      = param_form.input :param_value, wrapper_html: { class: 'span5' }
      %span.span2.close.numerous-remove &times;
  .form-actions
    = f.submit class: 'btn btn-primary'
