= simple_form_for @user, url: url, method: method do |f|
  .row-fluid
    .span12
      = f.error_notification
      - if @user.errors.any?
        %ul
        - @user.errors.full_messages.each do |error|
          %li= error
  .row-fluid
    .span5
      %h4 Information
      = f.input :name
      = f.input :email
      - unless @user.persisted?
        = f.input :password
      = f.input :archived, label: 'Archived?', hint: 'Note: archived users cannot log in.'
      = f.input :fullname
      = f.input :nickname
      = f.input :epayment, label: 'Epayment setup?'
      = f.input :w9, label: 'W9 received?'
    .span5
      .row-fluid
        %h4 Location
        = f.input :location_id, collection: Location.where(consumer_active: true), label: false, selected: @user.location.present? ? @user.location.id : nil, include_blank: true
        = f.input :location_confirmed, label: 'Location Confirmed?'
        %h4 Roles
        - Role.non_resource_roles.each do |role|
          .row-fluid
            %input{ type: :checkbox, id: "user_roles_#{role.name}", name: "user[roles][#{role.name}]", class: 'checkbox-control', checked: @user.roles.include?(role) }
            %label{ for: "user_roles_#{role.name}", class: 'checkbox-label-control' }
              = role.pretty_name
      %h4 Managed Organization
      %p
        = @user.organization&.name || 'None'
     
  .row-fluid
    = f.input :receive_comment_alerts, class: 'checkbox-label-control'
  .row-fluid
    -if @user.persisted?
      %h4 Subscriptions
      - @digests.each do |digest|
        = check_box_tag 'subscribed_ids[]', digest.id, digest.id.in?(@user.active_listserv_subscription_ids), data: { disable_with: 'Subscribing...', remote: true, url: url_for(action: :update_subscription, user_id: @user.id, listserv_id: digest.id), method: "PUT" }
        %p= digest.name
  .form-actions
    = submit_tag nil, class: "btn btn-primary"
