.row-fluid
  .span12.box.bordered-box.blue-border
    .box-header.blue-background
      .title
        %i.icon-search
        Find Organizations
      .actions
        %a.btn.box-remove.btn-mini.btn-link{ href: "#" }
          %i.icon-remove
        %a.btn.box-collapse.btn-mini.btn-link{ href: "#" }
          %i
    .box-content
      = search_form_for @search, url: admin_organizations_path do |f|
        .controls.controls-row
          .field.span3
            = f.label :id_in, "Organization"
            = f.collection_select :id_in, Organization.accessible_by(current_ability), :id, :name, {}, { multiple: true, class: "chosen-select" }
          .field.span3
            = f.label :publications_id_in, "Publication"
            = f.collection_select :publications_id_in, Publication.accessible_by(current_ability), :id, :name, {}, { multiple: true, class: "chosen-select" }
          .field.span3
            = f.label :locations_id_in, "Location"
            = f.collection_select :locations_id_in, Location.accessible_by(current_ability), :id, :city, {}, { multiple: true, class: "chosen-select" }
        .form-actions
          = f.submit "Search", class: "btn btn-primary"
%table.table.table-striped.table-bordered.data-table.table-condensed
  %thead
    %tr
      %th ID
      %th Organization
      %th Functions
  %tbody
    - @organizations.each do |organization|
      %tr{ class: "organization-#{organization.id}" }
        %td= organization.id
        %td= link_to organization.name, edit_admin_organization_path(organization)
        %td
          = link_to "publications", admin_publications_path(q: { organization_id_in: organization.id })
