.row-fluid
  .span12.box.bordered-box.blue-border
    .box-header.blue-background
      .title
        %i.icon-search
        Pending Payments
      .actions
        = link_to "Export to CSV", payments_path(format: :csv), class: 'btn btn-info'
%table.table.table-bordered.table-condensed
  %thead
    %tr
      %th Content
      %th Total Impressions
      %th Total Payment
      %th
  %tbody
    - @payment_data.keys.sort.each do |period|
      - periods = period.split("-").map(&:strip)
      %tr.info
        %th PAY PERIOD: #{period}
        %th= @payment_data[period][:total_impressions]
        %th= number_to_currency(@payment_data[period][:total_payments])
        %td
          = link_to 'Mark Paid', payments_sends_path(period_start: periods[0], period_end: periods[1]), method: :post,
            class: 'btn btn-small btn-primary', data: { confirm: 'Are you sure you want to mark these paid?' }
          = link_to 'Cancel', cancel_payments_path(period_start: periods[0], period_end: periods[1]), method: :delete,
            class: 'btn btn-danger btn-small', data: { confirm: 'Are you sure you want to cancel these payments?' }
      - @payment_data[period][:users].keys.sort.each do |username|
        - user = @payment_data[period][:users][username]
        %tr.success
          %th PAID TO: #{username} -- ID #{user[:id]}
          %th= user[:total_impressions]
          %th= number_to_currency(user[:total_payment])
          %td
        - user[:organizations].keys.sort.each do |org|
          - payments = user[:organizations][org][:payments]
          %tr.warning
            %th.payment-organization-header{ data: { organization_class: org.parameterize.underscore } } ORGANIZATION: #{org} -- ID #{user[:organizations][org][:id]}
            %th= payments.map(&:paid_impressions).sum
            %th= number_to_currency(payments.map(&:total_payment).sum)
            %td
          - payments.each do |payment|
            %tr{ class: org.parameterize.underscore, style: "display:none;" }
              %td #{payment.content.title} -- ID #{payment.content.id}
              %td= payment.paid_impressions
              %td= number_to_currency(payment.total_payment)
              %td
