The following content was flagged as #{@flag_type}:
%br
%br
Time:
= Time.current.to_s
%br
Flagger: #{@flagger.try(:name)} #{@flagger.email}
%br
Title: #{@title}
%br
Author: #{@author}
%br
Pubdate: #{@content.pubdate.to_s}
%br
Admin URL: #{@admin_uri}
