The following content was flagged as #{@flag_type}:
%br
%br
Time:
= Time.now.to_s
%br
Flagger: #{@flagger.try(:name)} #{@flagger.email}
%br
Title: #{@content.title}
%br
Author: #{@content.authors} #{@content.authoremail}
%br
Pubdate: #{@content.pubdate.to_s}
%br
Admin URL: #{@admin_uri}
-# If the content is actually spam, then the clients that receive this will filter it and
  the intended targets will never get notified.  So, since we have the links to the original
  content above that the moderator can review, just don't send the spammy content.
  %br
  %br
  %strong Content
  %br
  = @content.remove_boilerplate.html_safe
