= simple_form_for [:admin, @publication], html: { class: "form" } do |f|
  = f.error_notification
  .tabbable
    %ul.nav.nav-tabs.nav-tabs-simple#edit_pubtabs
      %li.active
        = link_to "#", class: "green-border", data: { toggle: "tab", target: "#details" } do
          Details
      %li
        = link_to "#", class: "green-border", data: { toggle: "tab", target: "#logo" } do
          Logo
      %li
        = link_to "#", class: "green-border", data: { toggle: "tab", target: "#contacts" } do
          Contacts
      %li
        = link_to "#", class: "green-border", data: { toggle: "tab", target: "#locations" } do
          Locations
      %li
        = link_to "#", class: "green-border", data: { toggle: "tab", target: "#history" } do
          History
    .tab-content
      .tab-pane.active.form-horizontal#details
        = f.input :name, input_html: { class: "span5" }
        = f.association :organization, input_html: { class: "span5 select2" }
        = f.association :parent, label: "Parent Publication (Syndication)", input_html: { class: "span5 select2" }, include_blank: true
        = f.input :website, input_html: { class: "span5" }
        = f.input :notes, input_html: { class: "span5", rows: 10 } 
      .tab-pane#logo
        = image_tag(@publication.logo.url) if @publication.logo?
        .row-fluid
          .span1
            = f.input :logo, label: false
          .span3.form-horizontal
            = f.input :remote_logo_url, label: "OR Upload from URL:"
      .tab-pane#contacts
        .pull-right
          = link_to "+ Add New Contact", "#", class: "btn btn-success", data: { toggle: "modal", target: "#contact_form", form_url: admin_publication_new_contact_path(@publication) }, id: "new_contact_button"
          / hidden field for creating contacts associated with a new publication record
          - unless @publication.id
            = f.association :contacts, as: :hidden, input_html: { name: "publication[contact_list]" , value: "" }
        %table.table.table-striped.table-condensed.sortable#contacts_table
          %thead
            %tr
              %th ID
              %th Type
              %th Name
              %th Phone
              %th Email
              %th Notes
              %th
          %tbody#contact_list
            - @publication.contacts.each do |contact|
              = render "admin/contacts/contact_row", contact: contact
      .tab-pane#locations
        .row-fluid
          .span8
            = text_field_tag :search_locations, nil, class: "span12", placeholder: "search available locations"
          .span4
            = link_to "+ Add New Location", "#", class: "btn btn-success", data: { toggle: "modal", target: "#location_form", form_url: new_admin_location_path }, id: "new_location_button"
          .row-fluid
            .span8
              = f.association :locations, label: false, input_html: { class: "locations-select multi-select" }
          .row-fluid
            .span2.offset2.text-right
              = link_to "select all", "#", id: "select-all-locs"
            .span2.text-left
              = link_to "deselect all", "#", id: "deselect-all-locs"
      .tab-pane#history
        histry
      .form-actions
        = submit_tag nil, class: "btn btn-primary"
        = link_to "Cancel", :back, class: "btn"

.modal.hide.fade#contact_form
  .modal-header
    %button.close{ type: "button", data: { dismiss: "modal" } } x
    %h3 Publication Contact
  .modal-body
    Loading...

.modal.hide.fade#location_form
  .modal-header
    %button.close{ type: "button", data: { dismiss: "modal" } } x
    %h3 Location
  .modal-body
    Loading...
