#wrapper
  .row
    #contents-filter.well
      = form_tag '', method: "get" do 
        .filter-field
          = label_tag "source", "Source"
          = text_field_tag "source", params[:source], class: "span2"
        .filter-field
          = label_tag "from", "From"
          = text_field_tag "from", params[:from], type: "date", class: "span2"
        .filter-field
          = label_tag "to", "To"
          = text_field_tag "to", params[:to], type: "date", class: "span2" 
        .filter-field
          = label_tag "title", "Title"
          = text_field_tag "title", params[:title], class: "span2"
        .filter-field
          = label_tag "authors", "Authors"
          = text_field_tag "authors", params[:authors], class: "span2"
        .filter-field
          = submit_tag "Search", class: "btn btn-primary"
  .row
    .well
      %table#documents_table.table.table-striped
        %thead
          %tr
            %th.span2 Source
            %th.span1 Date
            %th.span4 Title
            %th.span2 Authors
        %tbody
          - @contents.each do |content|
            %tr
              %td= content.features["SOURCE"]
              %td= Date.parse(content.features["PUBDATE"]).strftime("%m/%d/%Y")
              %td
                = link_to content.features["TITLE"], edit_custom_admin_content_path(content.getDocumentId)
              %td= content.features["AUTHORS"]
