= simple_form_for @business_profile, html: { class: "event-form form" } do |f|
  = f.error_notification
  .tabbable
    %ul.nav.nav-tabs.nav-tabs-simple#edit_doctabs
      %li#business_profile_tab_link{ class: "active" }
        = link_to "#", class: "green-border", data: { toggle: "tab", target: "#business_details" } do
          %i.icon-reorder
          Business Details
      %li
        = link_to "#", class: "green-border", data: { toggle: "tab", target: "#business_content" } do
          %i.icon-reorder
          Content
      %li
        = link_to "#", class: "green-border", data: { toggle: "tab", target: "#managers" } do
          %i.icon-female
          Managers
      %li.pull-right
        %span.btn.btn-small.tab-traversal-link{ data: { move_index: "-1" } } Previous
        %span.btn.btn-small.tab-traversal-link{ data: { move_index: "1" } } Next
    .tab-content
      .tab-pane.form-horizontal#business_details{ class: 'active' }
        = f.simple_fields_for :business_location do |g|
          .row-fluid
            .span12
              .row-fluid
                = g.input :name, class: 'span12'
              .row-fluid
                = g.input :address, class: 'span12'
          .row-fluid
            .span6
              .row-fluid
                = g.input :venue_url, label: 'Website', class: 'span12'
              .row-fluid
                = g.input :city, class: 'span12'
              .row-fluid
                = g.input :state, class: 'span12'
              .row-fluid
                = g.input :zip, class: 'span12'
              .row-fluid
                = g.input :phone, class: 'span12'
              .row-fluid
                = g.input :email, class: 'span12'
            .span6
              %span.pull-right.btn.btn-primary#locate_on_map_button{data: {remote: 'true'}} Locate on Map
              - bl = @business_profile.business_location
              - if bl.address.present?
                - addr = CGI::escape "#{bl.address} #{bl.city} #{bl.state} #{bl.zip}"
                %iframe#confirm_location_map{ data: { base_src_url: "https://www.google.com/maps/embed/v1/place?key=#{Figaro.env.gmaps_api_key}&q=" },
                  src: "https://www.google.com/maps/embed/v1/place?key=#{Figaro.env.gmaps_api_key}&q=#{addr}" }
              - else
                %iframe#confirm_location_map{ data: { base_src_url: "https://www.google.com/maps/embed/v1/place?key=#{Figaro.env.gmaps_api_key}&q=" } }
        .row-fluid
          = f.association :business_categories, input_html: { class: 'chosen-select input-block-level' }
        = f.simple_fields_for :business_location do |g|
          .row-fluid
            %h3 Opening Hours
            %span.hint 
              Each rule needs to be in 
              = link_to 'Schema.org OpeningHours format', 'https://schema.org/openingHours'
              Ex. 'Mo-Th 16:00-20:00'
            %span.pull-left.btn.btn-success.add-hours-link + Add Hours
          #business_location_hours
            = g.fields_for :hours do |i|
              - if @business_profile.business_location.hours.present? and @business_profile.business_location.hours.is_a?(Array)
                - @business_profile.business_location.hours.each do |hour|
                  .row-fluid
                    .span6
                      = i.text_field nil, value: hour, class: 'span12'
                    .span2.offset4
                      .btn.btn-danger.remove-hours-field X
      .tab-pane.form-horizontal#business_content
        .row-fluid
          .span6
            = f.simple_fields_for :content do |g|
              = g.input :raw_content, input_html: { class: "ckeditor input-block-level" },
                label: "Description", as: :text, value: @business_profile.content.sanitized_content, required: true
          .span6
            .row-fluid
              .span12
                .row-fluid
                  = f.simple_fields_for :content do |g|
                    = g.simple_fields_for :images do |i|
                      = i.input :image, as: :file
            .row-fluid
              .span12
                .row-fluid
                  - if @business_profile.content.try(:images).present? and @business_profile.content.primary_image.url.present?
                    .row-fluid
                      .span12
                        .business_profile_image_wrapper
                          = image_tag @business_profile.content.primary_image.image.url
                          = f.simple_fields_for :content do |g|
                            = g.simple_fields_for :images do |i|
                              %label
                                = i.check_box :remove_image
                                Remove image
                  - elsif @placeholder_image.present?
                    .row-fluid
                      .span12
                        = image_tag @placeholder_image.image.url
                .row-fluid
                  .span12
                    = f.simple_fields_for :content do |g|
                      = g.simple_fields_for :organization do |i|
                        = i.input :logo, as: :file
                    - if @business_profile.claimed? and @business_profile.content.organization.logo.present?
                      .business_profile_image_wrapper
                        = image_tag @business_profile.content.organization.logo.url
                        = f.simple_fields_for :content do |g|
                          = g.simple_fields_for :organization do |i|
                            %label
                              = i.check_box :remove_logo
                              Remove logo
      .tab-pane.form-horizontal#managers
        .row-fluid
          %h2 Business Managers
          .span12
            %table.table.table-striped.table-hover.table-condensed
              %thead
                %tr
                  %th Id
                  %th Name
                  %th Email
                  %th Remove
              %tbody
                - if @managers.present?
                  - @managers.each do |m|
                    %tr
                      %td= m.id
                      %td= m.name
                      %td= m.email
                      %td= link_to 'remove', business_profiles_manager_path(id: @business_profile.id, user_id: m.id), method: :delete, class: 'btn btn-mini btn-warning'
                - else
                  %td No managers yet
          %h3 Search Users
          .span12
            %table.table.table-striped.table-hover.data-table
              %thead
                %tr
                  %th Id
                  %th Name
                  %th Email
                  %th Add as Manager
              %tbody
                - @users.each do |user|
                  - unless @managers.present? and @managers.include?(user)
                    %tr{ class: "user-#{user.id}" }
                      %td= user.id
                      %td= user.name if user.name.present?
                      %td= user.email
                      %td.actions
                        = link_to "add", business_profiles_managers_path(business_profile_id: @business_profile.id, user_id: user.id), method: :post, class: "btn btn-mini btn-warning"

    .form-actions
      = submit_tag nil, class: "btn btn-primary"
      = submit_tag "Submit and continue with this record", class: "btn btn-success", name: "continue_editing"
      - if @next_content_id.present?
        = hidden_field_tag :next_record_id, @next_content_id
        = hidden_field_tag :index, @next_index
        = hidden_field_tag :page, params[:page]
        = submit_tag "Submit and go to next record", class: "btn btn-success", name: "next_record"
      = submit_tag "Submit and add new", class: "btn btn-success", name: "create_new"
      = link_to "Cancel", :back, class: "btn cancel"
