%tr{ class: "report-recipient-#{report_recipient.id}",
      data: { user_id: report_recipient.user.id } }
  %td= report_recipient.user.id
  %td= report_recipient.user.name
  %td= report_recipient.user.email
  %td= report_recipient.user.roles.map(&:pretty_name).uniq.join(',')
  %td= report_recipient.alternative_emails
  %td
    = link_to "#", class: "recipient-action-link btn btn-warning btn-small",
      data: { form_url: edit_report_recipient_path(report_recipient) } do
      %i.icon-pencil
    = link_to 'X', report_recipient_path(report_recipient), method: :delete, remote: true,
      class: 'btn btn-small btn-danger', data: { confirm: 'Are you sure?' }
