.row-fluid
  .span12.box.bordered-box.blue-border
    .box-header.blue-background
      .title
        %i.icon-search
        Find Campaigns
      .actions
        %a.btn-box-remove.btn-mini.btn-link{ href: "#" }
          %i.icon-remove
        %a.btn.box-collapse.btn-link{ href: "#" }
          %i
    .box-content
      = search_form_for @search, url: campaigns_path do |f|
        .controls.controls-row
          .field.span3
            = f.label :id_eq, "Campaign ID"
            = f.text_field :id_eq, class: "span12"
          .field.span3
            = f.label :organization_id_in, "Advertiser"
            = f.collection_select :organization_id_in, Organization.all, :id, :name, {}, { multiple: true, class: "chosen-select" }
          .field.span3
            = f.label :ad_promotion_type_in, 'Campaign Type'
            = f.select :ad_promotion_type_in, PromotionBanner::PROMOTION_TYPES, {}, { multiple: true, class: "chosen-select" }
          .field.span3
            = f.label :title_cont, 'Campaign Title'
            = f.text_field :title_cont, class: "span12"
        .controls.controls-row
          .field.span3
            = f.label :ad_sales_agent_in, "Sales Agent"
            = f.select :ad_sales_agent_in, User.sales_agents.map { |u| [u.name_with_email, u.id ] }, {}, { multiple: true, class: "chosen-select" }
          .field.span3
            = f.label :ad_campaign_start_gteq, "Campaign Start From"
            = f.text_field :ad_campaign_start_gteq, type: :date, class: "span12"
          .field.span3
            = f.label :ad_campaign_start_lteq, "To"
            = f.text_field :ad_campaign_start_lteq, type: :date, class: "span12"
          .field.span1
            = f.label :promotions_paid_eq, "Paid?"
            = f.check_box :promotions_paid_eq
          .field.span1
            %label{ for: 'promotion_banners_active' } Active?
            %input{ active_checkbox(@active) }
          .field.span1
            = f.label :promotions_promotable_of_PromotionBanner_type_boost_eq, "Boosted?"
            = f.check_box :promotions_promotable_of_PromotionBanner_type_boost_eq
        .control.controls-row
          .field.span3
            = f.label :ad_promoter_in, "Promoter"
            = f.select :ad_promoter_in, User.promoters.map { |u| [u.name_with_email, u.id ] }, {}, { multiple: true, class: "chosen-select" }
          .field.span3
            = f.label :ad_invoice_paid_eq, "Invoice Paid?"
            = f.select :ad_invoice_paid_eq, [['Paid', true], ['Unpaid', false]], include_blank: 'All'
          .field.span3
            = f.label :ad_commission_paid_eq, "Commission Paid?"
            = f.select :ad_commission_paid_eq, [['Paid', true], ['Unpaid', false]], include_blank: 'All'
          .field.span3
            = f.label :ad_services_paid_eq, "Services Paid?"
            = f.select :ad_services_paid_eq, [['Paid', true], ['Unpaid', false]], include_blank: 'All'
        .form-actions
          = f.submit "Search", class: "btn btn-primary"
          = f.submit "Reset", name: "reset", class: "btn"
%table.table.table-striped.table-hover.table-condensed#campaign_index
  %thead
    %tr
      %th Campaign Type
      %th Campaign ID
      %th Advertiser
      %th Campaign Title
      %th Campaign Dates
      %th Sales Agent
      %th Promoter
      %th Invoice Paid
      %th Commission Paid
      %th Services Paid
      %th
  .span5
    = page_entries_info @campaigns if @campaigns.present?
    = paginate @campaigns, window: 2 if @campaigns.present?
  %body
    - @campaigns.each do |c|
      %tr
        %td= c.ad_promotion_type
        %td= c.id
        %td{ style: "min-width: 150px" }= c.organization.try(:name)
        %td= c.title
        %td #{c.ad_campaign_start.try(:strftime, "%m/%d/%Y")}-#{c.ad_campaign_end.try(:strftime, "%m/%d/%Y")}
        %td= c.sales_agent&.name
        %td= c.promoter&.name
        %td
          = form_for c, url: campaign_path(id: c.id), method: :patch do |f|
            = f.check_box :ad_invoice_paid, class: 'ad-status-change-checkbox'
        %td
          = form_for c, url: campaign_path(id: c.id), method: :patch do |f|
            = f.check_box :ad_commission_paid, class: 'ad-status-change-checkbox'
        %td
          = form_for c, url: campaign_path(id: c.id), method: :patch do |f|
            = f.check_box :ad_services_paid, class: 'ad-status-change-checkbox'
        %td= link_to "edit", edit_campaign_path(c), class: "btn btn-warning btn-mini"
