= simple_form_for @market_post, html: { class: "event-form form" }, remote: true do |f|
  = f.error_notification
  .tabbable
    %ul.nav.nav-tabs.nav-tabs-simple#edit_doctabs
      %li{ }
        = link_to "#", class: 'green-border', data: { toggle: "tab", target: "#features" } do
          %i.icon-info
          Features
      %li#market_post_tab_link{ class: "active" }
        = link_to "#", class: "green-border", data: { toggle: "tab", target: "#market_posts" } do
          %i.icon-reorder
          Market Post
      - if @market_post.id.present?
        %li
          = link_to "#", class: "green-border", data: { toggle: "tab", target: "#publish" } do
            %i.icon-upload
            Publish/Export
      - if @market_post.published?
        %li
          = link_to "#", class: "green-border", data: { toggle: "tab", target: "#annotation_reports" } do
            Annotation Reports
      - if @market_post.content.publication.present?
        %li
          = link_to "#", class: "green-border", data: { toggle: "tab", target: "#promotions" } do
            %i.icon-eye-open
            Promotions
      %li.pull-right
        %span.btn.btn-small.tab-traversal-link{ data: { move_index: "-1" } } Previous
        %span.btn.btn-small.tab-traversal-link{ data: { move_index: "1" } } Next
    .tab-content
      .tab-pane.form-horizontal#features
        -# content model fields in here
        = f.simple_fields_for :content do |g|
          .row-fluid
            .span6
              = g.association :content_category, as: :hidden
              = g.input :category_reviewed, as: :hidden
              = hidden_field_tag :unchannelized_content_id, params[:unchannelized_content_id]
              .row-fluid
                .span8
                  = g.association :publication, input_html: { class: "chosen-select span12" }, 
                    label: "Publication"
                .span4
                  %span.btn.btn-small.btn-success#add_new_publication{ data: { toggle: "modal", 
                      target: "#publication_form", form_url: new_publication_path(short_form: true) } }
                    + Add New
            - if @market_post.id.present? # i.e. event is a saved record, not a new one
              .span4
                %dl
                  %dt Source Category
                  %dd= @market_post.source_category
                  %dt Quarantined?
                  %dd
                    - if @market_post.quarantine
                      %i.icon-ok
                  %dt Published?
                  %dd= @market_post.repositories.map{ |r| r.dsp_endpoint }.join(", ")
          = g.input :subtitle, input_html: { class: "input-block-level" }
          = g.input :authors, input_html: { class: "input-block-level" }
          .row-fluid
            = g.input :copyright, input_html: { class: "span12" }, wrapper_html: { class: "span6" }
          .row-fluid
            = g.input :pubdate, as: :datetime_picker, input_html: { value: @market_post.pubdate || Date.today }, wrapper_html: { class: "span6" }
            = g.input :timestamp, disabled: true, as: :string, wrapper_html: { class: "span6" }
            = g.input :url, input_html: { class: "input-block-level" }

      .tab-pane#market_posts{ class: "active" }
        .row-fluid
          .span6
            = f.simple_fields_for :content do |g|
              = g.input :title, input_html: { class: "input-block-level" }
          .span6
            =f.input :cost, input_html: { class: "input-block-level" }

        .row-fluid
          .span6
            = f.simple_fields_for :content do |g|
              = g.input :raw_content, input_html: { class: "ckeditor input-block-level" },
                label: "Description", as: :text, value: @market_post.remove_boilerplate

          -# event specific fields
          .span6
            .row-fluid
              .span6
                = f.input :contact_phone, as: :tel, input_html: { class: "input-block-level" }
              .span6
                = f.input :contact_email, input_html: { class: "input-block-level" }

            -# image field

            .row-fluid
              .span6
                = f.simple_fields_for :content do |g|
                  = g.simple_fields_for :images do |i|
                    = i.input :image, as: :file
              .span6
                - if @market_post.content.images.present? and @market_post.content.images.first.id
                  = image_tag @market_post.content.images.first.image.url
                - elsif @placeholder_image.present?
                  = image_tag @placeholder_image.image.url

            .row-fluid
              .span12
                = f.input :locate_address, label: 'Map Address', input_html: { class: "input-block-level" }
            .row-fluid
              .span6
                %span.btn.btn-primary#locate_address_button Locate on Map
              .span6
                - if @market_post.locate_address.present?
                  - addr = @market_post.locate_address
                  %iframe#confirm_location_map{ data: { base_src_url: "https://www.google.com/maps/embed/v1/place?key=#{Figaro.env.gmaps_api_key}&q=" },
                    src: "https://www.google.com/maps/embed/v1/place?key=AIzaSyBY8KLZXqpXrMbEorrQWjEuQjl7yO3sVAc&q=#{addr}" }
                - else
                  %iframe#confirm_location_map{ data: { base_src_url: "https://www.google.com/maps/embed/v1/place?key=#{Figaro.env.gmaps_api_key}&q=" } }


      - if @market_post.id.present?
        .tab-pane#publish{ data: { no_turbolink: "" } }
          = render partial: 'contents/partials/publishing_tab', locals: { content: @market_post.content }
      - if @market_post.published?
        .tab-pane#annotation_reports
          = render partial: 'contents/partials/annotation_reports_tab', locals: { content: @market_post.content }
      - if @market_post.content.publication.present?
        .tab-pane#promotions
          = render "promotions/partials/promotions_tab", content: @market_post.content

    .form-actions
      = submit_tag nil, class: "btn btn-primary"
      = submit_tag "Submit and continue with this record", class: "btn btn-success", name: "continue_editing"
      - if @next_content_id.present?
        = hidden_field_tag :next_record_id, @next_content_id
        = hidden_field_tag :index, @next_index
        = hidden_field_tag :page, params[:page]
        = submit_tag "Submit and go to next record", class: "btn btn-success", name: "next_record"
      = submit_tag "Submit and add new", class: "btn btn-success", name: "create_new"
      = link_to "Cancel", :back, class: "btn cancel"

- if @market_post.published?
  .modal.hide.fade#annotations
    .modal-header
      %a.pull-right.btn.btn-primary.span2{ href: "#", data: { dismiss: "modal" } } Finish
      %span.pull-right#num-reviewed.span2
      %h3#annotation_report_name
    #annotation_form
    .modal-body
      Loading annotations...

.modal.hide.fade#publication_form
  .modal-header
    %button.close{ type: "button", data: { dismiss: "modal" } } x
    %h3 Add Publication
  .modal-body
    Loading form...
