<%
    grouped_posts = @digest.listserv_contents.group_by do |l|
      if l.content_id? && l.channel_type.present?
        if l.channel_type == 'event'
            "Events"
        else
          l.channel_type.to_s.titleize
        end
      else
        'Uncategorized'
      end
    end.sort
%>

<div class='preheader' style='display: none !important;'>
  <%= @listserv.digest_preheader %>
  <%= @digest.listserv_contents.sort_by{|c| c.verified_at}.collect{|c| c.subject.truncate_words(8)}.join(' | ') %>
</div>
<a name='top'></a>
<h2>
  <%=@listserv.name%> Digest
  -- <small><%= @digest.created_at.strftime("%a, %b %e %Y")%></small>
</h2>

<div class='header'>
  <%= raw @listserv.digest_header %>
</div>

<% if @digest.listserv_contents.any? %>
  <div class='table of contents'>
    <h3>TABLE OF CONTENTS</h3>
    <%
       counter = 1
       grouped_posts.each do |(cat, contents)|
    %>
      <h4 style='margin-bottom: 0;'><%= cat %></h4>
      <table style="margin-left: 16px; border:none;">
        <% contents.sort_by(&:verified_at).each do |lc|%>
          <tr>
            <td style='border:none; padding-right: 8px;'><%= counter %>.</td>
            <td>
              <a href='#lc<%=lc.id%>'><%= lc.subject %></a>
              - <%= lc.author_name %>
              <% if lc.content_id? %>
                - <%= link_to 'View on DailyUV', content_url_for_email(lc.content), target: '_blank' %>
              <% end %>
            </td>
          </tr>
          <% counter += 1 %>
        <% end %>
      </table>
    <% end %>
  </div>
<% end %>

<% if @digest.promotions.any? %>
  <% banner_ad = @digest.promotions.first.promotable %>
<div class="digest-banner" style="padding: 15px 0 15px 0; vertical-align: top">
  <%= link_to image_tag(banner_ad.banner_image), banner_ad.redirect_url %>
</div>
<% end %>

<div class='posts'>
  <p style='font-weight: bold'>BEGIN DIGEST</p>
  <%
     counter = 1
     grouped_posts.each do |(cat, contents)|
  %>
    <h4 style='margin-bottom: 0;'><%= cat %></h4>

    <% contents.sort_by(&:verified_at).each do |lc|%>
      <hr width="66%" color="#830617">
      <a name='lc<%=lc.id%>'></a>
      <div class='post' style="margin-top: 3%;">
        <span style="margin-right: 8px;"><%=counter%>.</span>
        <strong><%= lc.subject %></strong><br>
        From: <%= lc.sender_name %><br>
        Date: <%= lc.verified_at.strftime('%m/%d/%y %l:%M %p') %>

        <div class='body'>
          <%= simple_format raw(strip_tags(lc.body.gsub("><", ">\n<")).strip) %>
        </div>
      <div class='actions'>
        <% if lc.content_id? %>
          <%= link_to 'View on DailyUV', content_url_for_email(lc.content), target: '_blank', style: 'font-size: smaller;display:inline-block; padding: 0.25em 0.5em; background:#eee; border: 2px solid #ddd;text-decoration:none;' %>
        <% end %>
        <table align="center">
          <tr>
            <td>
              <a href='mailto:<%= lc.sender_email %>?subject=Re: <%=lc.subject%>'><strong>Reply to sender</strong></a>
            </td>
            <td> -- </td>
            <td>
              <a href='#top'><strong>Back to Top</strong></a>
            </td>
          </tr>
        </table>
      </div>
      <% counter += 1 %>
    <% end %>
  <% end %>
  <p style='font-weight: bold'>END DIGEST</p>
</div>

<div class='footer'>
  <%= raw @listserv.digest_footer %>
</div>
