<% contents = @digest.contents %>
<% first_ad_index = contents.size > 3 ? 2 : contents.size - 1 %>
<% last_ad_index = 5 %>

<% @font_stack = raw "font-family:Helvetica,sans-serif !important" %>
<% @table_attrs = raw ' cellpadding="0" cellspacing="0" border="0"' %>

<div class='preheader' style='display: none !important;'>
  <%= @digest.preheader? ? @digest.preheader : @listserv.digest_preheader %>
  <%= contents.collect{|c| c.title.truncate_words(8)}.join(' | ') %>
</div>

  <div style="margin:0;background-color:#EFEFEF;padding:0">
    <div dir="ltr">
    <br>
      <div style="word-wrap:break-word">
        <br>
          <div>
            <div>
                <!-- HEADER -->
       <table <%= @table_attrs %> height="100%" width="100%" style="border-collapse:collapse;<%= @font_stack %>;width:100% !important;height:100% !important">
         <tbody>
           <tr style="<%= @font_stack %>">
             <td align="center" valign="top" style="<%= @font_stack %>">
               <table <%= @table_attrs %> width="600" style="border-collapse:collapse;<%= @font_stack %>;background-color:#EEEFF0! important;max-width:600px !important;width:600px !important;margin:0px auto !important;padding:0px !important;clear:both !important">
                 <tbody>
                   <tr style="<%= @font_stack %>">
                     <td valign="top" style="background-color:#69C2F8;<%= @font_stack %>">
                       <!-- LOGO -->
                       <table <%= @table_attrs %> width="100%" style="border-collapse:collapse;width:600px;<%= @font_stack %>">
                         <tbody>
                           <tr style="<%= @font_stack %>">
                             <td style="font-style:italic;font-weight:700;<%= @font_stack %>;color:#FFFFFF !important">
                               <a href="<%= url_for_consumer_app %>" style="text-decoration:none !important" target="_blank">
                                 <%= image_tag('https://d3ctw1a5413a3o.cloudfront.net/duv-logo-100x40.png', alt: 'DailyUV', width: 100, height: 40, style: "max-width:100%;vertical-align:top;padding:0px !important;margin:0px !important;display:block !important;border:none !important") %>
                               </a>
                             </td>
                           </tr>
                         </tbody>
                       </table>
                       <!-- END LOGO -->
                     </td>
                   </tr>
                   <tr style="font-family:Helvetica S,Helvetica,sans-serif !important">
                     <td style="<%= @font_stack %>;font-size:30px !important;line-height:30px !important;height:30px !important;max-height:30px !important;margin:0px !important;padding:0px !important">&nbsp;<br></td>
                   </tr>
                 </tbody>
               </table>
                <!-- end HEADER -->

                <!-- MAIN -->
<table cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;<%= @font_stack %>;background-color:#EEEFF0 !important;max-width:600px !important;width:600px !important;margin:0px auto !important;padding:0px !important;clear:both! important">
<tbody>
<tr style="<%= @font_stack %>">
  <td style="<%= @font_stack %>;background-color:#EEEFF0 !important;max-width:600px !important;width:600px !important;margin:0px auto !important;padding:0px! important;clear:both !important">
    <table cellpadding="0" cellspacing="0" order="0" width="100%" style="border-collapse:collapse;width:600px;<%= @font_stack %>">
      <tbody>

        <!-- TITLE -->
        <tr style="<%= @font_stack %>">
          <td style="color:#000000;text-align:center;font-size:36px;<%= @font_stack %>;font-weight:700 !important; padding-bottom: 10px;">
            <span align="center" style="color:#000000;font-weight:700;font-size:36px;line-height:32px;font-family:Helvetica,sans-serif;#158af2 !important;text-decoration:none !important">
              <%= @digest.listserv.name %>
            </span>
          </td>
        </tr>
        <!-- END TITLE -->
        
        <% if @digest.sponsored_by? %>
        <!-- SPONSOR -->
        <tr>
          <td style="padding-bottom: 10px;">
            <div style="text-align:center;<%= @font_stack %>;margin:0px !important;padding:0px !important;font-size:18px !important;line-height:20px !important;height:20px! important;max-height:20px !important"><%= @digest.sponsored_by %></div>
          </td>
        </tr>
        <!-- END SPONSOR -->
        <% end %>

        <!-- DATE -->
        <tr style="<%= @font_stack %>">
          <td style="text-align:center;<%= @font_stack %>; padding-bottom: 10px;">
            <div style="color:#FFFFFF;text-transform:uppercase;background-color:#69C2F8;display:inline;display:inline-block;padding:4px 6px;letter-spacing:1px;font-size:15px;line-height:1.25;<%= @font_stack %>"><%= @digest.created_at.strftime("%B %e %Y").upcase %></div>
          </td>
        </tr>
        <!-- END DATE -->

        <!-- ??? -->
        <tr style="<%= @font_stack %>">
          <td style="<%= @font_stack %>;margin:0px !important;padding:0px !important;font-size:20px !important;line-height:20px !important;height:20px! important;max-height:20px !important">&nbsp;<br></td>
        </tr>
        <!-- END ??? -->

        <!-- HEADER -->
        <tr style="<%= @font_stack %>">
          <td style="text-align: center;padding:10px 60px 10px;<%= @font_stack %>">
            <%= raw @digest.listserv.digest_header %>
          </td>
        </tr>
        <!-- END HEADER -->

        <tr style="<%= @font_stack %>">
          <td style="padding:0px 20px;text-align:right;<%= @font_stack %>">
            <table style="border-collapse:collapse;width:560px;text-align:left;<%= @font_stack %>">
              <tbody>
                <tr style="<%= @font_stack %>">
                  <td style="<%= @font_stack %>;padding:0px !important;margin:0px !important;padding-right:8px !important">
                    &nbsp;
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>

        <% contents.each_with_index do |post, index| %>
        <!-- BEGIN POST -->
        <tr style="<%= @font_stack %>">
          <td style="padding:0px 20px;text-align:right;<%= @font_stack %>">
            <table <%= @table_attrs %> style="border-collapse:collapse;width:560px;text-align:left;<%= @font_stack %>">
              <tbody>
                <tr style="<%= @font_stack %>">
                  <td style="height:auto;vertical-align:top;<%= @font_stack %>;width:92px !important;padding:0px 8px 0px 0px !important;margin:0px !important">
                    <table <%= @table_attrs %> style="border-collapse:collapse;width:92px;<%= @font_stack %>">
                      <tbody>
                        <tr style="<%= @font_stack %>">
                          <td style="<%= @font_stack %>;padding:0px !important;margin:0px !important;">
                            <a href="<%= url_for_consumer_app(ux2_content_path(post))%>" style="text-decoration:none !important;color:#404347 !important" target="_blank">
                              <% if post.primary_image %>
                                <img alt="Story photo thumbnail" src="<%= post.primary_image.url %>" style="vertical-align:top;width:92px;min-height:80px;padding:0px !important;margin:0px !important;display:block !important;border:none !important">
                              <% end %>
                            </a>
                          </td>
                        </tr>
                        <tr style="<%= @font_stack %>">
                          <td style="text-transform:uppercase;letter-spacing:1px;font-weight:700;line-height:32px;background-color:#69C2F8;display:inline-block;font-size:14px;width:92px;text-align:center;<%= @font_stack %>;padding:0px !important;margin:0px !important">
                            <div style="padding:0px;<%= @font_stack %>;color:#FFFFFF !important"><a href="<%= url_for_consumer_app(ux2_content_path(post))%>" style="text-decoration:none !important;color:#FFFFFF !important" target="_blank">READ IT</a></div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td style="padding:20px;background-color:#FFFFFF;font-family:Helvetica S,Helvetica,sans-serif !important;display:block !important;border: 1px solid #d2d2d2">
                    <table <%= @table_attrs %> style="border-collapse:collapse;width:440px;<%= @font_stack %>">
                      <tbody>
                        <tr style="<%= @font_stack %>">
                          <td style="padding:0px;<%= @font_stack %>">
                            <div style="font-weight:700;font-size:30px;line-height:32px;<%= @font_stack %>">
                              <a href="<%= url_for_consumer_app(ux2_content_path(post))%>" style="text-decoration:none! important;color:#000000 !important" target="_blank">
                                <%= post.title %>
                              </a>
                            </div>

                            <hr style="height:1px;border:0;background:#D0D0D0;margin:15px 0px 0px 0px !important">

                            <div style="font-size:13px;line-height:24px;margin:15px 0px 0px;<%= @font_stack %>">
                              <table <%= @table_attrs %> style="border-collapse:collapse;width:100%;<%= @font_stack %>">
                                <tr style="<%= @font_stack %>">
                                  <td style="padding:0px;width:45px;<%= @font_stack %>">
                                    <% author_name = post.organization.try(:name) || post.author_name %>
                                    <% if post.organization.profile_image? %>
                                      <img
                                        alt="<%= author_name %>"
                                        src="<%= post.organization.profile_image.url %>"
                                        style="
                                          border-radius:1000px;
                                          vertical-align:middle;
                                          width:40px;
                                          max-height:40px;
                                          padding:0px !important;
                                          margin:0px !important;
                                          display:inline-block !important;
                                          border:none !important;
                                        ">
                                    <% end %>
                                  </td>
                                  <td style="padding:0px;<%= @font_stack %>;color:#404347 !important">
                                    <%= post.pubdate.strftime("%A, %B %e %Y ") %>
                                    <br>
                                    <span style="text-decoration:none !important;color:#404347 !important;line-height:1"`>
                                      <%= author_name %>
                                    </span>
                                  </td>
                                </tr>
                              </table>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr style="<%= @font_stack %>">
                  <td style="<%= @font_stack %>;margin:0px !important;padding:0px !important;font-size:20px !important;line-height:20px !important;height:20px !important;max-height:20px !important">&nbsp;<br></td>
                </tr>
              </tbody>
            </table>
        </tr>

        <% if @digest.promotions.any? && index == first_ad_index %>

          <% banner_ad = @digest.promotions.first.promotable %>
        <!-- BEGIN AD -->
        <tr style="<%= @font_stack %>">
          <td style="padding:0px 20px;text-align:right;<%= @font_stack %>">
            <table <%= @table_attrs %> style="border-collapse:collapse;width:560px;text-align:left;<%= @font_stack %>">
              <tbody>
                <tr style="<%= @font_stack %>">
                  <td style="height:auto;vertical-align:top;<%= @font_stack %>;width:100px !important;max-width:100px !important;padding:0px !important;margin:0px !important">
                    <table <%= @table_attrs %> style="border-collapse:collapse;width:100px;<%= @font_stack %>">
                      <tbody>
                        <tr style="<%= @font_stack %>">
                          <td style="<%= @font_stack %>;padding:0px !important;margin:0px !important;padding-right:8px !important">&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td style="padding:0px !important;display:block !important;">
                    <table <%= @table_attrs %> style="border-collapse:collapse;width:440px;<%= @font_stack %>">
                      <tbody>
                        <tr style="<%= @font_stack %>">
                          <td style="padding:0px;<%= @font_stack %>">
                            <div style="line-height:32px;<%= @font_stack %>">
                              <a href="<%= banner_ad.redirect_url %>" style="text-decoration:none! important;color:#000000 !important" target="_blank">
                                <img alt="Story photo thumbnail" src="<%= banner_ad.banner_image %>" style="max-width:100%;vertical-align:top;width:400px;min-height:200px;padding:0px !important;margin:0px !important;display:block !important;border:none !important">
                              </a>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr style="<%= @font_stack %>">
                  <td style="<%= @font_stack %>;margin:0px !important;padding:0px !important;font-size:20px !important;line-height:20px !important;height:20px !important;max-height:20px !important">
                    &nbsp;
                    <br>
                  </td>
                </tr>
              </tbody>
            </table>
        </tr>
        <!-- END AD -->
        <% end %>
        <% if @digest.promotions.count > 1 && index == last_ad_index %>

          <% banner_ad = @digest.promotions.last.promotable %>
        <!-- BEGIN AD -->
        <tr style="<%= @font_stack %>">
          <td style="padding:0px 20px;text-align:right;<%= @font_stack %>">
            <table <%= @table_attrs %> style="border-collapse:collapse;width:560px;text-align:left;<%= @font_stack %>">
              <tbody>
                <tr style="<%= @font_stack %>">
                  <td style="height:auto;vertical-align:top;<%= @font_stack %>;width:100px !important;max-width:100px !important;padding:0px !important;margin:0px !important">
                    <table <%= @table_attrs %> style="border-collapse:collapse;width:100px;<%= @font_stack %>">
                      <tbody>
                        <tr style="<%= @font_stack %>">
                          <td style="<%= @font_stack %>;padding:0px !important;margin:0px !important;padding-right:8px !important">&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td style="padding:0px !important;display:block !important;">
                    <table <%= @table_attrs %> style="border-collapse:collapse;width:440px;<%= @font_stack %>">
                      <tbody>
                        <tr style="<%= @font_stack %>">
                          <td style="padding:0px;<%= @font_stack %>">
                            <div style="line-height:32px;<%= @font_stack %>">
                              <a href="<%= banner_ad.redirect_url %>" style="text-decoration:none! important;color:#000000 !important" target="_blank">
                                <img alt="Story photo thumbnail" src="<%= banner_ad.banner_image %>" style="max-width:100%;vertical-align:top;width:400px;min-height:200px;padding:0px !important;margin:0px !important;display:block !important;border:none !important">
                              </a>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr style="<%= @font_stack %>">
                  <td style="<%= @font_stack %>;margin:0px !important;padding:0px !important;font-size:20px !important;line-height:20px !important;height:20px !important;max-height:20px !important">
                    &nbsp;
                    <br>
                  </td>
                </tr>
              </tbody>
            </table>
        </tr>
        <!-- END AD -->
        <% end %>
        
        <!-- END POST -->
        <% end %>

        <!-- DIGEST FOOTER -->
        <tr style="<%= @font_stack %>">
          <td style="text-align: center;padding:10px 60px 10px;<%= @font_stack %>">
            <%= raw @digest.listserv.digest_footer %>
          </td>
        </tr>
        <!-- END DIGEST FOOTER -->

        <!-- BEGIN FOOTER -->
        <tr style="<%= @font_stack %>">
          <table <%= @table_attrs %> style="border-collapse:collapse;width:600px;text-align:center;<%= @font_stack %>">
            <tbody>
              <tr style="<%= @font_stack %>">
                <td style="<%= @font_stack %>;margin:0px !important;padding:0px !important;font-size:14px !important;font-weight:700 !important;line-height:14px !important;height:14px !important;max-height:14px !important">
                  <div style="padding:10px 0px 0px 0px !important">
                    <a href='<%= url_for_consumer_app %>' style="text-decoration:none !important;color:#69C2F8 !important;text-transform:uppercase !important" target="_blank">Visit&nbsp;DailyUV&nbsp;&nbsp;</a>
                    <a href='<%= url_for_consumer_app('/terms') %>' style="text-decoration:none !important;color:#69C2F8 !important;text-transform:uppercase !important" target="_blank">Terms &amp; Privacy</a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </tr>
        <tr style="<%= @font_stack %>;text-align:center;">
          <td style="<%= @font_stack %>;color:#6b6b6b !important;margin:0px !important;padding:0px !important;font-size:14px !important;line-height:14px !important;height:14px !important;max-height:14px !important">
            <div style="padding:5px 0px 0px 0px !important">
              Copyright <%= Date.current.strftime("%Y") %> Subtext Media, Ltd.&nbsp;&nbsp;|&nbsp;&nbsp;15 Railroad Row - 2nd Floor WRJ, VT 05001
            </div>
          </td>
        </tr>
        <!-- END FOOTER -->

      </tbody>
    </table>
    <!-- END MAIN -->
  </div>
</div>
        <br>
      </div>
      <br clear="all">
    </div>
  </div>

