<div class='preheader' style='display: none !important;'>
  <%= @listserv.digest_preheader %>
  <%= @digest.contents.sort_by{|c| c.pubdate}.collect{|c| c.title.truncate_words(8)}.join(' | ') %>
</div>
<a id='top'></a>
<h2>
  <%=@listserv.name%> Digest
  -- <small><%= @digest.created_at.strftime("%a, %b %e %Y")%></small>
</h2>

<div class='header'>
  <%= raw @listserv.digest_header %>
</div>

<% if @digest.listserv_contents.any? %>
  <div class='table of contents'>
    <h3>TABLE OF CONTENTS</h3>
    <ol>
      <% @digest.listserv_contents.sort_by(&:verified_at).each do |lc|%>
        <li><a href='#lc-<%=lc.id%>'><%= lc.subject %></a></li>
      <% end %>
    </ol>
  </div>
<% end %>

<div class='posts'>
  <p>BEGIN DIGEST</p>
  <% @digest.listserv_contents.sort_by(&:verified_at).each do |lc| %>
    <hr width="50%" color="#830617">
    <div id='lc-<%=lc.id%>' class='post'>
      <strong><%= lc.subject %></strong><br>
      From: <%= lc.sender_name %><br>
      Date: <%= lc.verified_at.strftime('%m/%d/%y %l:%M %p') %>

      <div class='body'>
        <%= simple_format raw(strip_tags(lc.body.gsub("><", ">\n<")).strip) %>
      </div>
      <div class='actions'>
        <table align="center">
          <tr>
            <td>
              <a href='mailto:<%= lc.sender_email %>?subject=Re: <%=lc.subject%>'>Reply to sender</a>
            </td>
            <td> -- </td>
            <td>
              <a href='mailto:<%= @listserv.post_email %>?subject=Re: <%=lc.subject%>'>Reply to list</a>
            </td>
            <td> -- </td>
            <td>
              <%= link_to 'Unsubscribe', url_for_consumer_app("/lists/#{@listserv.id}/unsubscribe") %>
            </td>
            <td> -- </td>
            <td>
              <a href='#top'>Back to Top</a>
            </td>
          </tr>
        </table>
    </div>
  <% end %>
  <p>END DIGEST</p>
</div>

<div class='footer'>
  <%= raw @listserv.digest_footer %>
</div>
