.row-fluid
  .span12.box.bordered-box.blue-border
    .box-header.blue-background
      .title
        %i.icon-search
        Find Organizations
      .actions
        %a.btn.box-remove.btn-mini.btn-link{ href: "#" }
          %i.icon-remove
        %a.btn.box-collapse.btn-mini.btn-link{ href: "#" }
          %i
    .box-content
      = search_form_for @search, url: organizations_path do |f|
        .controls.controls-row
          .field.span3
            = f.label :id_eq, "ID"
            = f.text_field :id_eq, class: "span12"
          .field.span3
            = f.label :name_cont, "Name"
            = f.text_field :name_cont, class: 'span12'
          .field.span3
            = f.label :org_type_in, "Organization Type"
            = f.select :org_type_in, Organization::ORG_TYPE_OPTIONS, {}, { multiple: true, class: "chosen-select" }
          .field.span3
            = f.label :locations_id_in, 'Promote Locations'
            = f.collection_select :locations_id_in, Location.accessible_by(current_ability), :id, :name, 
              {}, { multiple: true, class: "chosen-select" }
        .controls.controls-row
          .field.span3
            = f.label :consumer_apps_id_in, "Consumer Apps"
            = f.collection_select :consumer_apps_id_in, ConsumerApp.accessible_by(current_ability), :id, :name, {}, { multiple: true, class: "chosen-select" }
          .field.span3
            = f.label :include_child_organizations, "Include Child Organizations"
            = f.check_box :include_child_organizations
        .form-actions
          = f.submit "Search", class: "btn btn-primary"
          = f.submit "Reset", name: "reset", class: "btn"
%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th ID
      %th Organization
      %th Promote Locations
      %th Parent
      %th # Imported
      %th 
  %span5
    = page_entries_info @organizations if @organizations.present?
    = paginate @organizations, window: 2 if @organizations.present?
  %tbody
    - @organizations.each do |organization|
      %tr{ class: "organization-#{organization.id}" }
        %td= organization.id
        %td= link_to organization.name, edit_organization_path(organization)
        %td
          - organization.locations.each_with_index do |loc, i|
            = link_to loc.name, organizations_path(q: { locations_id_in: [loc.id] })
            - unless i == (organization.locations.count - 1)
              |
        %td
          - if organization.parent.present?
            = link_to organization.parent.try(:name), edit_organization_path(organization.parent)
        %td= organization.contents.count
        %td
          = link_to "content", contents_path(q: { organization_id_in: organization.id }), class: "btn btn-mini btn-info"
          = link_to "content sets", content_sets_path(q: { organization_id_in: organization.id }), class: "btn btn-mini btn-success"
