.row-fluid
  .span12.box.bordered-box.blue-border
    .box-header.blue-background
      .title
        %i.icon-search
        Find Organizations
      .actions
        %a.btn.box-remove.btn-mini.btn-link{ href: "#" }
          %i.icon-remove
        %a.btn.box-collapse.btn-mini.btn-link{ href: "#" }
          %i
    .box-content
      = search_form_for @search, url: organizations_path do |f|
        .controls.controls-row
          .field.span3
            = f.label :id_eq, "ID"
            = f.text_field :id_eq, class: "span12"
          .field.span3
            = f.label :name_cont, "Name"
            = f.text_field :name_cont, class: 'span12'
          .field.span3
            = f.label :org_type_in, "Organization Type"
            = f.select :org_type_in, Organization::ORG_TYPE_OPTIONS, {}, { multiple: true, class: "chosen-select" }
          .field.span3
            = f.label :archived_eq, "Archived?"
            = f.check_box :archived_eq
        .controls.controls-row
          .field.span3
            = f.label :pay_for_content_true, "Paid for content?"
            = f.check_box :pay_for_content_true
          .field.span3
            = f.label :show_news_publishers, "Display Can-Publish-News Only"
            - if params[:q].present? && session[:organizations_search]
              = f.check_box :show_news_publishers, checked: params[:q][:show_news_publishers] == "1" ? true : false
            - else
              = f.check_box :show_news_publishers, checked: false
          .field.span3
            = f.label :include_child_organizations, "Include Child Organizations"
            - if params[:q].present? && session[:organizations_search]
              = f.check_box :include_child_organizations, checked: params[:q][:include_child_organizations] == "1" ? true : false
            - else
              = f.check_box :include_child_organizations, checked: false
        .form-actions
          = f.submit "Search", class: "btn btn-primary"
          = f.submit "Reset", name: "reset", class: "btn"
%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th ID
      %th Organization
      %th Parent
      %th # Imported
      %th 
      %th Archive(d)
  %span5
    = page_entries_info @organizations if @organizations.present?
    = paginate @organizations, window: 2 if @organizations.present?
  %tbody
    - @organizations.each do |organization|
      %tr{ class: "organization-#{organization.id}" }
        %td= organization.id
        %td= link_to organization.name, edit_organization_path(organization)
        %td
          - if organization.parent.present?
            = link_to organization.parent.try(:name), edit_organization_path(organization.parent)
        %td= organization.contents.count
        %td
          = link_to "content", contents_path(q: { organization_id_in: organization.id }), class: "btn btn-mini btn-info"
        %td
          = form_for organization do |f|
            = f.check_box :archived, as: :boolean, class: 'archive-checkbox'
