- if ConsumerApp.current.present?
  - url = ConsumerApp.current.uri + '/sign_up/confirm/' + @token
- else
  - url = "http://#{ENV['DEFAULT_CONSUMER_HOST']}/sign_up/confirm/" + @token
%p
  Dear #{@email},
%p
  Thank you for registering at dailyUV.com. Before we can activate your account, you need to take one last step to complete your registration.
%p
  Please note: You must complete this last step to become a registered user of our website. You will only need to visit this URL once to activate your account.
%p
  To complete your registration, please click on the link below:
%p= link_to 'Confirm my account', url
%p
  If you are having difficulties completing the registration process, please contact a member of our support staff at
  %a{:href => "mailto:#{Rails.configuration.subtext.emails.support}"} #{Rails.configuration.subtext.emails.support}
%p
  With thanks for your interest,
  %br/
  The team at dailyUV.com
