.row-fluid
  .span12.box.bordered-box.blue-border
    .box-header.blue-background
      .title
        Promotion ID #{@promotion.id} - 
        = link_to edit_promotion_path(@promotion) do
          %i.icon-pencil
          Edit
    .box-content
      %p#notice= notice

      %p
        %b Active:
        = @promotion.active
      %p
        %b Banner:
        = link_to @promotion.banner, @promotion.banner.url
      %p
        %b Publication:
        = link_to @promotion.publication.name, edit_publication_path(@promotion.publication)
      %p
        %b Content:
        - if @promotion.content.nil?
          None
        - else
          = link_to @promotion.content.title, content_path(@promotion.content)
      %p
        %b Target URL:
        = link_to nil, @promotion.target_url
      %p
        %b Description:
        = @promotion.description
