.row-fluid
  .span12.box.bordered-box.blue-border
    .box-header.blue-background
      .title
        Promotion ID #{@promotion.id} - 
        = link_to edit_promotion_path(@promotion) do
          %i.icon-pencil
          Edit
    .box-content
      %p#notice= notice

      %p
        %b Active:
        = @promotion.active
      %p
        %b Publication:
        - if @promotion.publication.present?
          = link_to @promotion.publication.name, edit_publication_path(@promotion.publication)
      %p
        %b Content:
        - if @promotion.content.nil?
          None
        - else
          = link_to @promotion.content.title, content_path(@promotion.content)
      %p
        %b Description:
        = @promotion.description
      - if @promotion.promotable.is_a? PromotionBanner
        %p
          %b Banner:
          = link_to @promotion.promotable.banner_image, @promotion.promotable.banner_image.url
        %p
          %b Target URL:
          = link_to nil, @promotion.promotable.redirect_url
      - elsif @promotion.promotable.is_a? PromotionListserv
        %p
          %b Listserv:
          = @promotion.promotable.listserv.name
        %p
          %b Sent at:
          = @promotion.promotable.sent_at

