.row-fluid
  .span12.box.bordered-box.blue-border
    .box-header.blue-background
      .title
        Promotion ID #{@promotion.id} - 
        = link_to edit_promotion_path(@promotion) do
          %i.icon-pencil
          Edit
    .box-content
      %p#notice= notice

      %p
        %b Organization:
        - if @promotion.organization.present?
          = link_to @promotion.organization_name, edit_organization_path(@promotion.organization)
      %p
        %b Content:
        - if @promotion.content.nil?
          None
        - else
          = link_to @promotion.content.title, content_path(@promotion.content)
      %p
        %b Description:
        = @promotion.description
      - if @promotion.promotable.is_a? PromotionBanner
        %p
          %b Promotion Type:
          = @promotion.promotable.promotion_type
        %p
          %b Banner:
          = link_to @promotion.promotable_banner_image, @promotion.promotable_banner_image.url
        %p
          %b Target URL:
          - if @promotion.promotable.promotion_type == PromotionBanner::COUPON
            = @promotion.promotable_redirect_url
          - else
            = link_to nil, @promotion.promotable_redirect_url
        %p
          %b Paid:
          = @promotion.paid
      - elsif @promotion.promotable.is_a? PromotionListserv
        %p
          %b Listserv:
          = @promotion.promotable_listserv.name
        %p
          %b Sent at:
          = @promotion.promotable_sent_at

