= simple_form_for @consumer_app, html: { data: { id: @consumer_app.id }, class: "form form-horizontal" } do |f|
  = f.error_notification
  = f.input :name
  = f.input :uri
  = f.association :repository
  .form-actions
    = submit_tag nil, class: "btn btn-primary"

