= simple_form_for @rewrite do |f|
  = f.error_notification
  .form-column
    = f.input :source
    = f.input :destination, label: "Destination: if external, it MUST begin with either https:// or http://"
  .form-actions
    = f.submit class: "btn btn-primary"
