= simple_form_for [:admin, import_job], html: { data: { id: import_job.id } } do |f|
  = f.error_notification
  = f.input :name
  = f.input :source_path
  .control-group.boolean.optional.recurring
    = label_tag "import_job_recurring", "Recurring?", { class: "boolean optional control-label" }
    .controls
      = check_box_tag "import_job_recurring"
  = f.input :frequency, hint: "Repeat every x minutes", wrapper_html: { class: "frequency" }
  = f.association :parser, collection: Parser.accessible_by(current_ability, :read)
  - if current_user.has_role? :admin
    = f.association :organization
  #params_fields
  = f.submit class: "btn btn-primary"
