= simple_form_for [:admin, import_job] do |f|
  = f.error_notification
  = f.input :name
  = f.input :source_path
  = f.association :parser, collection: Parser.accessible_by(current_ability, :read)
  - if current_user.has_role? :admin
    = f.association :organization
  #params_fields
  = f.submit class: "btn btn-primary"
