
= simple_form_for @feature, html: {class: 'form form-horizontal'} do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description
    = f.input :active, as: :boolean
    = f.input :options, hint: 'Ex: { "foo": "bar", "boo": "far" }'
    .form-actions
      = f.button :submit, class: 'btn btn-success'
