%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th ID
      %th Title
      %th Report Path
      %th Recipients
      %th Report Jobs
      %th
  %tbody
    - @reports.each do |report|
      %tr{ class: "report-#{report.id}" }
        %td= report.id
        %td= link_to report.title, edit_report_path(report)
        %td= report.report_path
        %td= report.recip_count
        %td= link_to report.job_count, report_jobs_path(q: { report_id_eq: report.id })
        %td
          = link_to "Edit", edit_report_path(report), class: "btn btn-warning btn-small"
          = link_to "Generate Job", report_generations_path(report),
              method: :post, class: "btn btn-primary btn-small"
