.row-fluid
  .span12.box.bordered-box.blue-border
    .box-header.blue-background
      .title
        %i.icon-search
        Find Data Contexts
      .actions
        %a.btn.box-remove.btn-mini.btn-link{ href: "#" }
          %i.icon-remove
        %a.btn.box-collapse.btn-mini.btn-link{ href: "#" }
          %i
    .box-content
      = search_form_for @search, url: admin_data_contexts_path do |f|
        .controls.controls-row
          .field.span3
            = label_tag :status, "Gazetteer Status"
            = select_tag :status, options_for_select(['Both', 'Loaded', 'Unloaded', 'Archived'], @status)
          .field.span3
            = f.label :context_cont, "Context Name"
            = f.text_field :context_cont
        .form-actions
          = f.submit "Search", class: "btn btn-primary"
          = f.submit "Reset", name: "reset", class: "btn"
%table.table.table-striped.table-bordered.data-table.table-condensed
  %thead
    %tr
      %th ID
      %th Context
      %th Status
      %th Last Load
      %th Triples
      %th 
  %tbody
    - @data_contexts.each do |data_context|
      %tr{ class: "data_context-#{data_context.id}" }
        %td= data_context.id
        %td= link_to data_context.context, edit_admin_data_context_path(data_context)
        %td= text_for_displaying_loaded_field(data_context)
        %td= data_context.last_load.try(:strftime, "%m/%d/%Y")
        %td # triples
        %td
