= simple_form_for @location do |f|
  .row-fluid
    .span6
      = f.input :city, label: "City/Town"
      = f.input :state do
        = subregion_select :location, :state, Carmen::Country.coded('US')

      = f.input :zip, input_html: { data: { mask: "99999" } }
      = f.input :lat, label: "Latitude"
      = f.input :long, label: "Longitude"

    .span6
      = f.input :slug
      = f.input :is_region, label: "Region"
      = f.input :consumer_active

  = f.submit nil, class: "btn btn-success"
