.span3.image{ id: "image_#{image.id}" }
  = link_to image_tag(image.image.url), image.image.url if image.image?
  .name= image.image_identifier
  = simple_fields_for image, html: { class: "form" } do |f|
    = f.input :caption, as: :text, 
      input_html: { id: "image_#{image.id}_caption", 
      cols: 40, rows: (image.caption.present? ? (image.caption.length/30.0).ceil : 1), 
      class: "caption-field image-field input-block-level" }
    .row-fluid
      = f.input :credit, input_html: { id: "image_#{image.id}_credit", class: "image-field input-block-level" },
        wrapper_html: { class: 'span8' }
      = f.input :primary, input_html: { id: "image_#{image.id}_primary", class: 'image-field primary-checkbox' },
        wrapper_html: { class: 'span2 offset2' }
    .actions
      %span.span12.alert.alert-success.updated-alert{style: "display: none;" }
        Updated
        %i.icon-ok
      = link_to "#", class: "update-image btn btn-small btn-success", data: { url: image_path(image), image_id: image.id } do
        update
        %i.icon-pencil
      = link_to image_path(image), :confirm => "Are you sure?", :method => :delete, remote: true, class: "btn btn-small btn-danger" do
        remove
        %i.icon-remove
