- if can? :access, :dashboard
  %li{ class: current_page?(dashboard_path) ? "active" : "" }
    = link_to dashboard_path do
      %i.icon-dashboard
      %span Dashboard

- if can? :read, Organization
  %li
    = link_to organizations_path do
      %i.icon-group
      %span Organizations
      %i.icon-angle-down.angle-down
    %ul{ class: "nav nav-stacked #{controller_name == "organizations" ? "in" : "" }" }
      %li{ class: current_page?(organizations_path) ? "active" : "" }
        = link_to organizations_path do
          %i.icon-search
          %span Search
      - if can? :create, Organization
        %li{ class: current_page?(new_organization_path) ? "active" : "" }
          = link_to new_organization_path do
            %i.icon-plus
            %span Create New

- if can? :read, Content
  %li
    = link_to contents_path do
      %i.icon-file-alt
      %span Contents
      %i.icon-angle-down.angle-down
    %ul{ class: "nav nav-stacked #{controller_name == "contents" ? "in" : "" }" }
      %li{ class: current_page?(contents_path) ? "active" : "" }
        = link_to contents_path do
          %i.icon-tasks
          %span Search

- if can? :read, Comment
  %li
    = link_to comments_path do
      %i.icon-comment
      %span Comments
      %i.icon-angle-down.angle-down
    %ul{ class: "nav nav-stacked #{ controller_name == "comments" ? "in" : "" }" }
      %li{ class: current_page?(comments_path) ? "active" : "" }
        = link_to comments_path do
          %i.icon-tasks
          %span Search

- if can? :read, Content
  %li
    = link_to campaigns_path do
      %i.icon-flag
      %span Campaigns
      %i.icon-angle-down.angle-down
    %ul{ class: "nav nav-stacked #{ controller_name == "campaigns" ? "in" : "" }" }
      %li{ class: current_page?(campaigns_path) ? "active" : "" }
        = link_to campaigns_path do
          %i.icon-tasks
          %span Search
      - if can? :create, Content
        %li{ class: current_page?(new_campaign_path) ? "active" : "" }
          = link_to new_campaign_path do
            %i.icon-plus
            %span Create New

- if can? :manage, User
  %li{ class: "#{controller_name == "users" ? "active" : "" }" }
    = link_to users_path do
      %i.icon-male
      %span Users
    %ul{ class: "nav nav-stacked #{controller_name == "users" ? "in" : "" }" }
      %li{ class: current_page?(users_path) ? "active" : "" }
        = link_to users_path do
          %i.icon-female
          %span All
      - if can? :create, User
        %li{ class: current_page?(new_user_path) ? "active" : "" }
          = link_to new_user_path do
            %i.icon-plus
            %span Create New

- if can? :read, BusinessProfile
  %li
    = link_to business_profiles_path do
      %i.icon-building
      %span Business Profiles
      %i.icon-angle-down.angle-down
    %ul{ class: "nav nav-stacked #{controller_name == "business_profiles" ? "in" : "" }" }
      %li{ class: current_page?(business_profiles_path) ? "active" : "" }
        = link_to business_profiles_path do
          %i.icon-tasks
          %span Search
      - if can? :create, BusinessProfile
        %li{ class: current_page?(new_business_profile_path) ? "active" : "" }
          = link_to new_business_profile_path do
            %i.icon-plus
            %span Create New

- if can? :read, BusinessLocation
  %li
    = link_to business_locations_path do
      %i.icon-building
      %span Venues
      %i.icon-angle-down.angle-down
    %ul{ class: "nav nav-stacked #{controller_name == "business_locations" ? "in" : "" }" }
      %li{ class: current_page?(business_locations_path) ? "active" : "" }
        = link_to business_locations_path do
          %i.icon-tasks
          %span Search
      - if can? :create, BusinessLocation
        %li{ class: current_page?(new_business_location_path) ? "active" : "" }
          = link_to new_business_location_path do
            %i.icon-plus
            %span Create New

- if can? :read, Rewrite
  %li
    = link_to rewrites_path do
      %i.icon-pencil
      %span Rewrites
      %i.icon-angle-down.angle-down
    %ul{ class: "nav nav-stacked #{controller_name == 'rewrites' ? 'in' : '' }" }
      %li{ class: current_page?(new_rewrite_path) ? 'active' : '' }
        = link_to new_rewrite_path do
          %i.icon-plus
          %span Create New

- if can? :manage, Listserv
  %li
    = link_to listservs_path do
      %i.icon-envelope
      %span Digests
      %i.icon-angle-down.angle-down
    %ul{ class: "nav nav-stacked #{controller_name == "listservs" ? "in" : "" }" }
      %li{ class: current_page?(listservs_path) ? "active" : "" }
      - if can? :create, Listserv
        %li{ class: current_page?(new_listserv_path) ? "active" : "" }
          = link_to new_listserv_path do
            %i.icon-plus
            %span Create New

- if can? :manage, Subscription
  %li
    = link_to subscriptions_path do
      %i.icon-envelope
      %span Subscriptions
      %i.icon-angle-down.angle-down
    %ul{ class: "nav nav-stacked #{controller_name == "subscriptions" ? "in" : "" }" }
      %li{ class: current_page?(subscriptions_path) ? "active" : "" }
      - if can? :create, Subscription
        %li{ class: current_page?(new_subscription_path) ? "active" : "" }
          = link_to new_subscription_path do
            %i.icon-plus
            %span Create New

- if can? :read, Payment
  %li
    = link_to payments_path do
      %i.icon-book
      %span Payments
      %i.icon-angle-down.angle-down
    %ul{ class: "nav nav-stacked #{ is_payments_controller_class }" }
      %li{ class: current_page?(payments_path) ? 'active' : '' }
        = link_to payments_path do
          %i.icon-book
          %span Pending Payments
      %li{ class: current_page?(payment_recipients_path) ? 'active' : '' }
        = link_to payment_recipients_path do
          %i.icon-group
          %span Payment Recipients

%li
  %a.dropdown-collapse{ href: '#', class: is_config_controller_class }
    %i.icon-gears
    %span CONFIG
    %i.icon-angle-down.angle-down

  %ul.nav.nav-stacked{ class: is_config_controller_class }
    - if can? :read, Location
      %li
        = link_to locations_path do
          %i.icon-map-marker
          %span Locations
          %i.icon-angle-down.angle-down
        %ul{ class: "nav nav-stacked #{controller_name == "locations" ? "in" : "" }" }
          %li{ class: current_page?(locations_path) ? "active" : "" }
            = link_to locations_path do
              %i.icon-tasks
              %span Search
          - if can? :create, Location
            %li{ class: current_page?(new_location_path) ? "active" : "" }
              = link_to new_location_path do
                %i.icon-plus
                %span Create New

    - if can? :read, ConsumerApp
      %li
        = link_to consumer_apps_path do
          %i.icon-comment
          %span Consumer Apps
          %i.icon-angle-down.angle-down
        %ul{ class: "nav nav-stacked #{controller_name == "consumer_apps" ? "in" : "" }" }
          %li{ class: current_page?(consumer_apps_path) ? "active" : "" }
            = link_to consumer_apps_path do
              %i.icon-tasks
              %span Search
          - if can? :create, ConsumerApp
            %li{ class: current_page?(new_consumer_app_path) ? "active" : "" }
              = link_to new_consumer_app_path do
                %i.icon-plus
                %span Create New

    - if can? :manage, ActiveJob::Base
      %li{ class: controller_name == "sidekiq_wrapper" ? 'active' : '' }
        = link_to sidekiq_wrapper_path do
          %i.icon-dashboard
          %span Sidekiq Dashboard

    - if can? :manage, Feature
      %li
        = link_to features_path do
          %i.icon-flag
          %span Features
          %i.icon-angle-down.angle-down
        %ul{ class: "nav nav-stacked #{controller_name == "features" ? "in" : "" }" }
          %li{ class: current_page?(subscriptions_path) ? "active" : "" }
          - if can? :create, Feature
            %li{ class: current_page?(new_feature_path) ? "active" : "" }
              = link_to new_feature_path do
                %i.icon-plus
                %span Create New
