!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= content_for?(:title) ? yield(:title) : "Daily UV"
    %meta{:content => content_for?(:description) ? yield(:description) : "Knotweed", :name => "description"}
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Droid+Sans:400,700"
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Droid+Serif"
    %style
      = raw Rails.application.assets['minimal.css'].to_s
    = csrf_meta_tags
    = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    %header.container
      %h1= link_to "Daily UV#{" TEST" if features['listserv-user-testing']}", 'http://dailyuv.com'
    %main.container= yield
