!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= content_for?(:title) ? yield(:title) : "Daily UV"
    %meta{:content => content_for?(:description) ? yield(:description) : "Knotweed", :name => "description"}
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Droid+Sans:400,700"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Droid+Serif"
    = stylesheet_link_tag "//stackpath.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css"
    %style
      = raw Rails.application.assets['minimal.css'].to_s
      = raw Rails.application.assets['payment_reports.css'].to_s
    = csrf_meta_tags
    = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    %header.container
      %h4.report-title Publisher Payment Report from Subtext Media, Ltd.
      %h1= @user.fullname || @user.name
      %h2.date-range.text-center= @period_start.strftime("%m/%d/%Y") + " - " + @period_end.strftime("%m/%d/%Y")
    - if @total_payment.present?
      .container.report-summary
        .row-fluid
          .report-summary-block.span3
            %h3 Views
            %h2= @views
          .report-summary-block.span3
            %h3 Impressions
            %h2= @paid_impressions
          .report-summary-block.span3
            %h3 Total Payment
            %h2= number_to_currency(@total_payment)
          .report-summary-block.span3
            %h3 Payment Date
            %h2= @payment_date.strftime("%m/%d/%Y")
      .container
        %table.table.table-striped.table-bordered.payment-reports
          %thead.bg-dark
            %tr
              %th.span6
                Organization
              %th.span6 Impressions
          %tbody
            - @line_items.each do |item|
              %tr
                %td.span6= item.name
                %td.span6= item.total_impressions
    - else
      .container.text-center
        %h3 No Payments Found.
