= simple_form_for @organization, html: { class: "form" } do |f|
  = f.error_notification
  .tabbable
    %ul.nav.nav-tabs.nav-tabs-simple#edit_pubtabs
      %li.active
        = link_to "#", class: "green-border", data: { toggle: "tab", target: "#details" } do
          Details
      %li
        = link_to '#', class: "green-border", data: { toggle: "tab", target: "#profile" } do
          Profile Details
      %li
        = link_to '#', class: "green-border", data: { toggle: "tab", target: "#business_locations" } do
          Profile Locations
      %li
        = link_to "#", class: "green-border", data: { toggle: "tab", target: "#images" } do
          Profile Images
      %li
        = link_to "#", class: "green-border", data: { toggle: "tab", target: "#locations" } do
          Promote Locations
      %li
        = link_to "#", class: "green-border", data: { toggle: "tab", target: "#contacts" } do
          Contacts
      - if @organization.id
        %li
          = link_to "#", class: "green-border", data: { toggle: "tab", target: "#managers" } do
            Managers
    .tab-content
      .tab-pane.active.form-horizontal#details
        .row-fluid
          .span12
            = f.input :name, input_html: { class: "input-block-level" }
            = f.input :org_type, collection: Organization::ORG_TYPE_OPTIONS, label: "Organization Type"
            = f.input :can_publish_news, input_html: { class: 'input-block-level' }
            = f.input :pay_for_content, as: :boolean
            = f.input :pay_directly, input_html: { class: 'input-block-level' }
            = f.association :parent, collection: Organization.where.not(id: @organization.id), label: "Parent Organization (Syndication)",
              input_html: { class: "input-block-level chosen-select-single-deselect" }, include_blank: true
            = f.input :certified_storyteller, as: :boolean
            = f.input :certified_social, as: :boolean
            = f.input :calendar_view_first, as: :boolean
            = f.input :calendar_card_active, as: :boolean
            - if @organization.has_business_profile?
              = f.input :biz_feed_active, as: :boolean
            - else
              %p
                Organization must have
                %b Business Profile
                to have active Biz Feed
            = f.input :embedded_ad, as: :boolean
            = f.input :banner_ad_override
            = f.input :archived, as: :boolean
      .tab-pane.form-horizontal#profile
        .row-fluid
          .span5
            = f.input :services, input_html: { class: "input-block-level" }
            = f.input :digest_id, input_html: { class: "input-block-level" }
            = f.input :special_link_url, input_html: { class: 'input-block-level' },
              label: 'Profile button url'
            = f.input :special_link_text, input_html: { class: 'input-block-level' },
              label: 'Profile button label'
            = f.input :twitter_handle
            = f.input :contact_card_active, as: :boolean
            = f.input :description_card_active, as: :boolean
            = f.input :hours_card_active, as: :boolean
          .span7
            .summernote-wrapper
              = f.input :description, as: :summernote, label: 'Description'

      .tab-pane#business_locations
        .pull-right
          = link_to "+ Add New Location", "#", class: "btn btn-success", data: { form_url: new_business_location_path({ organization_id: @organization.id }  )}, id: "new_business_location_button" 
          / hidden field for creating business locations associated with a new organization record
          - unless @organization.id
            = f.association :business_locations, as: :hidden, input_html: { name: "organization[business_location_list]", value: "" }
        %table.table.table-striped.table-condensed.sortable#business_locations_table
          %thead
            %tr
              %th ID
              %th Name
              %th Address
              %th Phone
              %th Email
              %th Hours
              %th
          %tbody#business_locations_list
            - @organization.business_locations.each do |loc|
              = render "business_locations/partials/row", business_location: loc

      .tab-pane#images
        .profile-image.image-container
          .row-fluid
            .span4
              .row-fluid
                .span4
                  = f.input :profile_image
                .span8
                  = f.input :remote_profile_image_url, label: "OR Upload from URL:"
              .row-fluid
                .span4
                  - if @organization.profile_image?
                    = f.input :remove_profile_image, as: :boolean, label: "Remove Profile Image?"
            .span8
              = image_tag(@organization.profile_image_url, style: "max-width: 400px;") if @organization.profile_image_url.present?
        %hr
        .background-image.image-container
          .row-fluid
            .span4
              .row-fluid
                .span4
                  = f.input :background_image
                .span8
                  = f.input :remote_background_image_url, label: "OR Upload from URL:"
              .row-fluid
                .span4
                  - if @organization.background_image?
                    = f.input :remove_background_image, as: :boolean, label: "Remove Background Image?"
            .span8
              = image_tag(@organization.background_image_url, style: "max-width: 400px;") if @organization.background_image_url.present?
        %hr
        .desktop-image.image-container
          .row-fluid
            .span4
              .row-fluid
                .span4
                  = f.input :desktop_image
                .span8
                  = f.input :remote_desktop_image_url, label: "OR Upload from URL:"
              .row-fluid
                .span4
                  - if @organization.desktop_image?
                    = f.input :remove_desktop_image, as: :boolean, label: "Remove Desktop Image?"
            .span8
              = image_tag(@organization.desktop_image_url, style: "max-width: 400px;") if @organization.desktop_image_url.present?

      .tab-pane#locations
        .flex-grid
          = f.fields_for :organization_locations, f.object.organization_locations.sort_by{|ol| ol.location.name} do |cl|
            = render 'organization_location_fields', f: cl

          .links.card
            = link_to_add_association '+ Add Location', f, :organization_locations, class: 'btn btn-default'
        -#.row-fluid
          .span8
            = text_field_tag :search_locations, nil, class: "span12", placeholder: "search available locations"
          .span4
            = link_to "+ Add New Promote Location", "#", class: "btn btn-success", data: { form_url: new_location_path }, id: "new_location_button"
          .row-fluid
            .span8
              = f.association :locations, label: false, input_html: { class: "locations-select multi-select" }
          .row-fluid
            .span2.offset2.text-right
              = link_to "select all", "#", id: "select-all-locs"
            .span2.text-left
              = link_to "deselect all", "#", id: "deselect-all-locs"
      .tab-pane#contacts
        .row-fluid
          .span6
            = f.input :ad_contact_nickname, label: 'Contact Nickname'
            = f.input :ad_contact_fullname, label: 'Contact Fullname'
      - if @organization.id
        .tab-pane#managers{ data: { form_url: organization_users_path(@organization) } }
          Loading...

      .form-actions
        = submit_tag 'Submit and continue with this record', class: 'btn btn-success', name: 'continue_editing'
        = submit_tag 'Submit and close record', class: "btn btn-primary"
        = link_to "Cancel", :back, class: "btn"

.modal.fade.modal-hack#contact_form
  .modal-header
    %button.close{ type: "button", data: { dismiss: "modal" } } x
    %h3 Organization Contact
  .modal-body
    Loading...

.modal.fade.modal-hack#location_form
  .modal-header
    %button.close{ type: "button", data: { dismiss: "modal" } } x
    %h3 Location
  .modal-body
    Loading...

.modal.fade.modal-hack#business_location_form
  .modal-header
    %button.close{ type: "button", data: { dismiss: "modal" } } x
    %h3 Business Location
  .modal-body
    Loading...   
